<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de compra</title>
    <link rel="stylesheet" href="carrito.css">
</head>

<body>

    <!-- Texto superior -->
    <div class="textSuperior">
        <p><a href="#">Inicio</a> > <a href="#">Tecnología</a> > <a href="#">Celulares y Accesorios</a> > <a
                href="#">Motorola</a></p>
    </div>

    <div class="container1">
        <!-- Primer contenedor -->

        <div class="container-proccess1">
            <!-- Cajita del carrito -->
            <p>Carrito</p>
        </div>

        <div class="container-proccess2">
            <!-- Cajita de la verificación -->
            <p>Verificación compra</p>
        </div>

        <div class="container-proccess3">
            <!-- Cajita de Forma de pago -->
            <p>Forma de pago</p>
        </div>  

    </div>

    <div class="container2"></div> <!-- El contenedor negro -->

    <div class="container3">
        <div class="box1">
            <img src="/img/mogogs60.webp" alt="Moto G s60">
        </div>
        <div class="box2">
            <p>Celular Motorola G60s 128gb Aqua</p>
        </div>
        <div class="box3">
            <select name="cantidad" id="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label for="box3">x $49.000,00</label>
        </div>
        <div class="box4">
            <a href="#">Eliminar del carrito</a>
        </div>

        <div class="box5">
            <a href="#">Guardar para después</a>
        </div>
    </div>

    <div class="container3">
        <div class="box1">
            <img src="/img/mogogs60.webp" alt="Moto G s60">
        </div>
        <div class="box2">
            <p>Celular Motorola G60s 128gb Aqua</p>
        </div>
        <div class="box3">
            <select name="cantidad" id="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label for="box3">x $49.000,00</label>
        </div>
        <div class="box4">
            <a href="#">Eliminar del carrito</a>
        </div>

        <div class="box5">
            <a href="#">Guardar para después</a>
        </div>
    </div>

    <div class="container4">
        <!-- Contenedor del total a pagar -->
        <div class="product">
            <a class="btn btn-add-product" href="#">Agregar otro producto</a>
        </div>

        <div class="cupon">
            <input class="input-style" type="cupon" name="name" placeholder="CÓDIGO DE DESCUENTO">
            <button class="btn2" type="submit">Validar cupón</button>
        </div>

        <div class="stepaso">
            <a class="btn btn-add-product" href="#">Siguiente paso</a>
        </div>
        <p>TOTAL A PAGAR: $xx.xxx,xx</p>
    </div>


</body>

</html>