<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de compra</title>
    <link rel="stylesheet" href="../public/css/carrito.css">
    <link rel="stylesheet" href="../public/css/HeaderNavFooter.css">

</head>

<body>
    <header >

        <div class="logomain">
            
            <a href="index.html"><img class="logo" src="../public/images/electrohogarlogo2resuelto.png" alt=""></a>
        </div>
        <div class="buscar"> 
            <input type="search" placeholder="Buscar productos..">
                <i class="fas fa-search"></i>
            </div>

            <div class="headernav"> 
            <ul>
                <li><a href="#"><img class="iconcarrito" src="../public/icons/shopping-cart.png" alt="Carrito">Carrito</a></li>
                <li><a href="#"><img class="iconfav" src="../public/icons/favorite.png" alt="Favoritos">Favoritos</a></li>
                <li><a href="#"><img class="iconcuenta" src="../public/icons/perfil.png" alt="Mi cuenta">Mi cuenta</a></li>
            </ul>
            <label for="check" class="bar">
                <span class="fa fa-bars" id="bars"></span>
                <span class="fa fa-times" id="times"></span>

            </label>
        </div>
    
    </header>

    <nav>
        <ul>
            <li href="#">Categorias<i class="fa fa-angle-down" aria-hidden="true"></i></li>
            <li href="#">Smart TV</li>
            <li href="#">Celulares</li>
            <li href="#">Notebooks</li>
            <li href="#">Aire Acondicionado</li>
            <li href="#">Cocinas</li>
            <li href="#">Heladeras</li>
            <li href="#">Lavado</li>
            <li href="#">Colchones</li>
            <li href="#">Gaming</li>
            
        </ul>
    </nav>

    <!-- Texto superior -->
    <div class="textSuperior">
        <p><a href="#">Inicio</a> > <a href="#">Tecnología</a> > <a href="#">Celulares y Accesorios</a> > <a
                href="#">Motorola</a></p>
    </div>

    <div class="container1">
        <!-- Primer contenedor -->

        <div class="container-proccess1">
            <!-- Cajita del carrito -->
            <p>Carrito</p>
        </div>

        <div class="container-proccess2">
            <!-- Cajita de la verificación -->
            <p>Verificación compra</p>
        </div>

        <div class="container-proccess3">
            <!-- Cajita de Forma de pago -->
            <p>Forma de pago</p>
        </div>  

    </div>

    <div class="container2"></div> <!-- El contenedor negro -->

    <div class="container3">
        <div class="box1">
            <img src="/img/mogogs60.webp" alt="Moto G s60">
        </div>
        <div class="box2">
            <p>Celular Motorola G60s 128gb Aqua</p>
        </div>
        <div class="box3">
            <select name="cantidad" id="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label for="box3">x $49.000,00</label>
        </div>
        <div class="box4">
            <a href="#">Eliminar del carrito</a>
        </div>

        <div class="box5">
            <a href="#">Guardar para después</a>
        </div>
    </div>

    <div class="container3">
        <div class="box1">
            <img src="/img/mogogs60.webp" alt="Moto G s60">
        </div>
        <div class="box2">
            <p>Celular Motorola G60s 128gb Aqua</p>
        </div>
        <div class="box3">
            <select name="cantidad" id="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label for="box3">x $49.000,00</label>
        </div>
        <div class="box4">
            <a href="#">Eliminar del carrito</a>
        </div>

        <div class="box5">
            <a href="#">Guardar para después</a>
        </div>
    </div>

    <div class="container4">
        <!-- Contenedor del total a pagar -->
        <div class="product">
            <a class="btn btn-add-product" href="#">Agregar otro producto</a>
        </div>

        <div class="cupon">
            <input class="input-style" type="cupon" name="name" placeholder="CÓDIGO DE DESCUENTO">
            <button class="btn2" type="submit">Validar cupón</button>
        </div>

        <div class="stepaso">
            <a class="btn btn-add-product" href="#">Siguiente paso</a>
        </div>
        <p>TOTAL A PAGAR: $xx.xxx,xx</p>
    </div>

    
<footer>

    <div class="footertop">
    
    
        <div class="emailsub">
             <span>¡Recibí nuestras promociones exclusivas! </span>
             
            <input type="email" class="inputemail" name="email" id="" placeholder="Ingresá tu e-mail...">
            <input type="submit" value="Suscribirse" class="confirmaremail"/> 
        </div>
    
        <div class="contenedorventatelefonica">  
                        
            <b class="bRED"> VENTA TELEFONICA: </b> <span class="numerotel"> 0810-111-0707 </span>
                  <div class="contenedorclietne">
                     <span>Atencion al cliente:</span> 
                   de <b>9</b> a <b> 20 </b> hs / Sáb. de <b>9</b> a <b>18</b> hs
                  </div>                                                
          </div>
    
        <div class="social">
            <a href="https://www.facebook.com/electroHogar"><img src="../public/icons/facebook.png" alt="Seguinos en Facebook" class="facebook"></a> 
            <a href="www.instagram.com/electrohogarr"><img src="../public/icons/instagram.png" alt="Seguinos en Instagram" class="instagram"></a> 
            <a href="www.twitter.com/electroHogar"><img src="../public/icons/twitter.png" alt="Seguinos en twitter" class="twitter"></a> 
            <a href="www.youtube.com/electroHogar"><img src="../public/icons/youtube.png" alt="Seguienos en Youtube" class="youtube"></a> 
        </div>
    
    </div>
        <section>
            <div class="footercentral">
                        
                    <div class="footercolumna2Row">
                        <h3>Categorias</h3>
                             <ul>
                            <li>Tecnologia</li>
                            <li>Decoracion</li>
                            <li>Celulares</li>
                            <li>Heladeras</li>
                            <li>Climatizacion</li>
                             </ul>
                     </div>
        
                <div class="footercolumna3Row">
                    <h3>Nosotros</h3>
                        <ul>
                            <li>Sucursales</li>
                            <li>Trabaja con nosotros</li>
                            <li>Quienes somos</li>
                            <li>Terminos y condiciones</li>
                           
                         </ul>                   
                         
                </div>
    
              
        
        
    
            </div>
        </section>
    
    </footer>

</body>

</html>