<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/images/electrohogarlogo.png">
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/HeaderNavFooter.css">

    <link rel="stylesheet" href="/public/css/carrusel.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
     integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/fb257ce5bf.js" crossorigin="anonymous"></script>
    <title>Tienda | ElectroHogar </title>
</head>


<body>


    <input type="checkbox" id="check">

    <header>

                <label for="check" class="bar">
                    <span class="fa fa-bars" id="bars"></span>
                    <span class="fa fa-times" id="times"></span>
    
        
        </label>
        
        <div class="logomain">

            <a href="/views/home.html"><img class="logo" src="/public/images/electrohogarlogo2resuelto.png" alt=""></a>
        </div>

        

        <!-- <div class="buscar-mobile">
            <input type="search" placeholder="Buscar productos..">
            <i class="fas fa-search"></i>
        </div> -->

        <div class="buscar">
            <input type="search" placeholder="Buscar productos..">
            <i class="fas fa-search"></i>
        </div>

        <div class="headernav">
            <ul>
                <li><a href="/views/carrito.html"><img class="iconcarrito" src="/public/icons/shopping-cart.png"
                            alt="Carrito">Carrito</a></li>
                <li><a href="#"><img class="iconfav" src="/public/icons/favorite.png" alt="Favoritos">Favoritos</a></li>
                <li><a href="/views/registro.html"><img class="iconcuenta" src="/public/icons/perfil.png" alt="Mi cuenta">Mi
                        cuenta</a></li>
            </ul>
                
           
        </div>

    </header>
     
    <nav>
        <ul>
            <li href="#">Categorias</li>
            <li href="#">Smart TV</li>
            <li href="#">Celulares</li>
            <li href="#">Notebooks</li>
            <li href="#">Climatizacion</li>
            <li href="#">Cocinas</li>
            <li href="#">Heladeras</li>
            <li href="#">Lavado</li>
            <li href="#">Colchones</li>
            <li href="#">Gaming</li>

        </ul>
    </nav>


    <div class="slider">
        <ul>
            <li><img src="/public/images/carousel5.jpg" alt=""></li>
            <li><img src="/public/images/carousel.jpg" alt=""></li>
            <li><img src="/public/images/carousel2.jpg" alt=""></li>
            <li><img src="/public/images/carousel3.jpg" alt=""></li>
            <li><img src="/public/images/carousel4.jpg" alt=""></li>
        </ul>
    </div>

        <ul class="puntos">
                <li class="punto activo"></i></li>
                <li class="punto"></li>
        </ul>

    </div>



    <main>
        <div class="section">
            <div class="cards">
                <div class="new-arrival">
                    <h3>Ofertas imperdibles <span>12 cuotas sin interes</span></h3>
                </div>

                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/tv55led.jpg" alt="">
                    </div>
                    <div class="description">
                        <h1>Smart TV 55</h1>
                        <span>$87.300</span>
                    </div>
                    <small class="cuotas">12 cuotas x $12.500</small>

                    <div class="button-group">
                        <a href="/views/carrito.html" class="buy">Comprar</a>
                        <a href="/views/carrito.html" class="cart">Agregar al carrito</a>
                    </div>

                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>





                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/mogogs60.webp" alt="">
                    </div>
                    <div class="description">
                        <h1>Celular MOTO G60S</h1>
                        <span>$49.999</span>
                    </div>
                    <small class="cuotas">12 cuotas x $6453</small>

                    <div class="button-group">
                        <a href="/views/carrito.html" class="buy">Comprar</a>
                        <a href="/views/carrito.html" class="cart">Agregar al carrito</a>
                    </div>

                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>


                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/ps5.webp" alt="">
                    </div>
                    <div class="description">
                        <h1>PS5 Sony + 1 Joystick</h1>
                        <span>$189.999</span>
                    </div>
                    <small class="cuotas">12 cuotas x $23.766</small>

                    <div class="button-group">
                        <a href="/views/carrito.html" class="buy">Comprar</a>
                        <a href="/views/carrito.html" class="cart">Agregar al carrito</a>
                    </div>

                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>





                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/heladera.jpg" alt="">
                    </div>
                    <div class="description">
                        <h1>Smart TV 55</h1>
                        <span>$63.999</span>
                    </div>
                    <small class="cuotas">12 cuotas x $9.990</small>

                    <div class="button-group">
                        <a href="/views/carrito.html" class="buy">Comprar</a>
                        <a href="/views/carrito.html" class="cart">Agregar al carrito</a>
                    </div>

                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>





                </div>
            </div>
        </div>

        


    </main>
     



    <footer>

        <div class="footertop">


            <div class="emailsub">
                <span>¡Recibí nuestras promociones exclusivas! </span>

                <input type="email" class="inputemail" name="email" id="" placeholder="Ingresá tu e-mail...">
                <input type="submit" value="Suscribirse" class="confirmaremail" />
            </div>

            <div class="contenedorventatelefonica">

                <b class="bRED"> VENTA TELEFONICA: </b> <span class="numerotel"> 0810-111-0707 </span>
                <div class="contenedorclietne">
                    <span>Atencion al cliente:</span>
                    de <b>9</b> a <b> 20 </b> hs / Sáb. de <b>9</b> a <b>18</b> hs
                </div>
            </div>

            <div class="social">
                <a href="https://www.facebook.com/electroHogar"><img src="../public/icons/facebook.png"
                        alt="Seguinos en Facebook" class="facebook"></a>
                <a href="www.instagram.com/electrohogarr"><img src="../public/icons/instagram.png"
                        alt="Seguinos en Instagram" class="instagram"></a>
                <a href="www.twitter.com/electroHogar"><img src="../public/icons/twitter.png" alt="Seguinos en twitter"
                        class="twitter"></a>
                <a href="www.youtube.com/electroHogar"><img src="../public/icons/youtube.png" alt="Seguienos en Youtube"
                        class="youtube"></a>
            </div>

        </div>
        <section>
            <div class="footercentral">

                <div class="footercolumna2Row">
                    <h3>Categorias</h3>
                    <ul>
                        <li>Tecnologia</li>
                        <li>Decoracion</li>
                        <li>Celulares</li>
                        <li>Heladeras</li>
                        <li>Climatizacion</li>
                    </ul>
                </div>

                <div class="footercolumna3Row">
                    <h3>Nosotros</h3>
                    <ul>
                        <li>Sucursales</li>
                        <li>Trabaja con nosotros</li>
                        <li>Quienes somos</li>
                        <li>Terminos y condiciones</li>

                    </ul>

                </div>





            </div>
        </section>

    </footer>

    <script defer src="/public/js/carrousel.js"></script>
</body>

</html>