<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/images/electrohogarlogo.png">
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/HeaderNavFooter.css">
    <script src="https://kit.fontawesome.com/fb257ce5bf.js" crossorigin="anonymous"></script>
    <title>ElectroHogar | Tecnologia para el Hogar</title>
</head>


<body>

    <input type="checkbox" id="check">

    <header >

        <div class="logomain">
            
            <a href="index.html"><img class="logo" src="/public/images/electrohogarlogo2resuelto.png" alt=""></a>
        </div>
        <div class="buscar"> 
            <input type="search" placeholder="Buscar productos..">
                <i class="fas fa-search"></i>
            </div>

            <div class="headernav"> 
            <ul>
                <li><a href="#"><img class="iconcarrito" src="/public/icons/shopping-cart.png" alt="Carrito">Carrito</a></li>
                <li><a href="#"><img class="iconfav" src="/public/icons/favorite.png" alt="Favoritos">Favoritos</a></li>
                <li><a href="#"><img class="iconcuenta" src="/public/icons/perfil.png" alt="Mi cuenta">Mi cuenta</a></li>
            </ul>
            <label for="check" class="bar">
                <span class="fa fa-bars" id="bars"></span>
                <span class="fa fa-times" id="times"></span>

            </label>
        </div>
    
    </header>

    <nav>
        <ul>
            <li href="#">Categorias<i class="fa fa-angle-down" aria-hidden="true"></i></li>
            <li href="#">Smart TV</li>
            <li href="#">Celulares</li>
            <li href="#">Notebooks</li>
            <li href="#">Aire Acondicionado</li>
            <li href="#">Cocinas</li>
            <li href="#">Heladeras</li>
            <li href="#">Lavado</li>
            <li href="#">Colchones</li>
            <li href="#">Gaming</li>
            
        </ul>
    </nav>

<section>
    <div class="section1"></div>
    <img class="heladera" src="/public/images/carrouselheladera.jpg" alt="">
</section>

</style>
</h3>


<div class="section">
        <div class="cards">
                <div class="new-arrival">
                    <h3>Ofertas imperdibles <span>12 cuotas sin interes</span></h3>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/tv55led.jpg" alt="">
                    </div>
                    <div class="description">
                        <h1>Smart TV 55</h1>
                            <span>$87.300</span>
                    </div>
                    <small class="cuotas">12 cuotas x $12.500</small>

                    <div class="button-group">
                        <a href="" class="buy">Comprar</a>
                        <a href="" class="cart">Agregar al carrito</a>
                    </div>
                    
                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/tv32bgh.jpg" alt="">
                    </div>
                    <div class="description">
                        <h1>Smart TV 32</h1>
                            <span>$32.000</span>
                    </div>
                    <small class="cuotas">12 cuotas x $3.444</small>

                    <div class="button-group">
                        <a href="" class="buy">Comprar</a>
                        <a href="" class="cart">Agregar al carrito</a>
                    </div>
                    
                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/ps5.webp" alt="">
                    </div>
                    <div class="description">
                        <h1>PS5 Sony 1TB + Joystick WIReless</h1>
                            <span>$210.000</span>   
                    </div>

                    <small class="cuotas">12 cuotas x $23.700</small>
                    <div class="button-group">
                        <a href="" class="buy">Comprar</a>
                        <a href="" class="cart">Agregar al carrito</a>
                    </div>
                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/notebooklenovo14.webp" alt="">
                    </div>
                    <div class="description">
                        <h1>Notebook Lenovo 14" BZ925MH </h1>
                            <span>$170.000</span>   
                    </div>

                    <small class="cuotas">12 cuotas x $17.455</small>
                    <div class="button-group">
                        <a href="" class="buy">Comprar</a>
                        <a href="" class="cart">Agregar al carrito</a>
                    </div>
                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/lavarropa.jpg" alt="">
                    </div>
                    <div class="description">
                        <h1>Lavarropas samsung SMG19500P </h1>
                            <span>$55.000</span>   
                    </div>

                    <small class="cuotas">12 cuotas x $5.520</small>
                    <div class="button-group">
                        <a href="" class="buy">Comprar</a>
                        <a href="" class="cart">Agregar al carrito</a>
                    </div>
                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/microondas.jpg" alt="">
                    </div>
                    <div class="description">
                        <h1>Microondas BGH AZ95 BLUETOOTH </h1>
                            <span>$15.000</span>   
                    </div>

                    <small class="cuotas">12 cuotas x $860</small>
                    <div class="button-group">
                        <a href="" class="buy">Comprar</a>
                        <a href="" class="cart">Agregar al carrito</a>
                    </div>
                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/heladera.jpg" alt="">
                    </div>
                    <div class="description">
                        <h1>Heladera Samsung Inteligente X23 </h1>
                            <span>$66.999</span>   
                    </div>

                    <small class="cuotas">12 cuotas x $5.883</small>
                    <div class="button-group">
                        <a href="" class="buy">Comprar</a>
                        <a href="" class="cart">Agregar al carrito</a>
                    </div>
                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/airecondicionao.jpg" alt="">
                    </div>
                    <div class="description">
                        <h1>Aire acondicionado frio calor inverter bgh b70325 </h1>
                            <span>$70.999</span>   
                    </div>

                    <small class="cuotas">12 cuotas x $14.536</small>
                    <div class="button-group">
                        <a href="" class="buy">Comprar</a>
                        <a href="" class="cart">Agregar al carrito</a>
                    </div>
                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/bicicleta.jpg" alt="">
                    </div>
                    <div class="description">
                        <h1>Bicicleta Capital Federal K735 </h1>
                            <span>$100.999</span>   
                    </div>

                    <small class="cuotas">12 cuotas x $20.643</small>
                    <div class="button-group">
                        <a href="" class="buy">Comprar</a>
                        <a href="" class="cart">Agregar al carrito</a>
                    </div>
                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="image-section">
                        <img src="/public/images/170055-1200-auto.jpg" alt="">
                    </div>
                    <div class="description">
                        <h1>Celular samsung S20 Fan Edition Azul </h1>
                            <span>$144.999</span>   
                    </div>

                    <small class="cuotas">12 cuotas x $12.400</small>
                    <div class="button-group">
                        <a href="" class="buy">Comprar</a>
                        <a href="" class="cart">Agregar al carrito</a>
                    </div>
                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>
                    
                </div>


        </div>
</div>



<footer>

<div class="footertop">


    <div class="emailsub">
         <span>¡Recibí nuestras promociones exclusivas! </span>
         
        <input type="email" class="inputemail" name="email" id="" placeholder="Ingresá tu e-mail...">
        <input type="submit" value="Suscribirse" class="confirmaremail"/> 
    </div>

    <div class="contenedorventatelefonica">  
                    
        <b class="bRED"> VENTA TELEFONICA: </b> <span class="numerotel"> 0810-111-0707 </span>
              <div class="contenedorclietne">
                 <span>Atencion al cliente:</span> 
               de <b>9</b> a <b> 20 </b> hs / Sáb. de <b>9</b> a <b>18</b> hs
              </div>                                                
      </div>

    <div class="social">
        <a href="https://www.facebook.com/electroHogar"><img src="/public/icons/facebook.png" alt="Seguinos en Facebook" class="facebook"></a> 
        <a href="www.instagram.com/electrohogarr"><img src="/public/icons/instagram.png" alt="Seguinos en Instagram" class="instagram"></a> 
        <a href="www.twitter.com/electroHogar"><img src="/public/icons/twitter.png" alt="Seguinos en twitter" class="twitter"></a> 
        <a href="www.youtube.com/electroHogar"><img src="/public/icons/youtube.png" alt="Seguienos en Youtube" class="youtube"></a> 
    </div>

</div>
    <section>
        <div class="footercentral">
                    
                <div class="footercolumna2Row">
                    <h3>Categorias</h3>
                         <ul>
                        <li>Tecnologia</li>
                        <li>Decoracion</li>
                        <li>Celulares</li>
                        <li>Heladeras</li>
                        <li>Climatizacion</li>
                         </ul>
                 </div>
    
            <div class="footercolumna3Row">
                <h3>Nosotros</h3>
                    <ul>
                        <li>Sucursales</li>
                        <li>Trabaja con nosotros</li>
                        <li>Quienes somos</li>
                        <li>Terminos y condiciones</li>
                       
                     </ul>                   
                     
            </div>

          
    
    

        </div>
    </section>

</footer>

</body>

</html>