<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/images/electrohogarlogo.png">
    <link rel="stylesheet" href="/public/css/header.css">
    <script src="https://kit.fontawesome.com/fb257ce5bf.js" crossorigin="anonymous"></script>
    <title>ElectroHogar | Tecnologia para el Hogar</title>
</head>

<body>
    <input type="checkbox" id="check">
    <main >
        <div class="logomain">
            <a href="index.html"><img class="logo" src="/public/images/electrohogarlogo.png" alt=""></a>
        </div>
        <div class="buscar"> 
            <input type="search" placeholder="Buscar productos..">
                <i class="fas fa-search"></i>
            </div>
            <div class="headernav"> 
            <ul>
                <li><a href="#"><img class="iconcarrito" src="/public/icons/shopping-cart.png" alt="Carrito">Carrito</a></li>
                <li><a href="#"><img class="iconfav" src="/public/icons/favorite.png" alt="Favoritos">Favoritos</a></li>
                <li><a href="#"><img class="iconcuenta" src="/public/icons/perfil.png" alt="Mi cuenta">Mi cuenta</a></li>
            </ul>
            <label for="check" class="bar">
                <span class="fa fa-bars" id="bars"></span>
                <span class="fa fa-times" id="times"></span>

            </label>
        </div>
    
    </main>

    <nav>
        <ul>
            <li href="#">Categorias</li>
            <li href="#">Electrodomesticos</li>
            <li href="#">Celulares</li>
            <li href="#">Computadoras</li>
            <li href="#">Aire Acondicionado</li>
            <li href="#">Gaming</li>
        </ul>
    </nav>

<section>
    <div class="section1"></div>
    <img class="heladera" src="/public/images/carrouselheladera.jpg" width="100%" alt="">
</section>

<section class="carousel1">
    <h3>Ofertas imperdibles para compra online </h3>
        <div class="carousel_container">
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/170055-1200-auto.jpg" alt="">
            
                <div class="panel2">
                    <img class="fav" src="/public/icons/heart-outline.svg" alt="">
                </div>
                <div class="info">
                    <a><h3>Samsung S20 Fan Edition Azul</h3></a>
                   
                    </div class="precio">
                        <span class="precio" >$80.999</span>
                        <small class="cuotas">12 Cuotas x $6.799</small>
                    <div class="btndiv">
                        <button class="btncomprar">Comprar</button>
                        <button class="btncarrito">Añadir al carrito</button>
                     </div>
                </div>                     
            </div>

            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/ps5.webp" alt="ps5">
            
                <div class="panel2">
                    <img class="fav" src="/public/icons/heart-outline.svg" alt="">
                </div>
                <div class="info">
                    <a><h3>Sony PlayStation 5 1TB </h3></a>
                   
                    </div class="precio">
                        <span class="precio" >$159.999</span>
                        <small class="cuotas">12 Cuotas x $17.900</small>
                    <div class="btndiv">
                        <button class="btncomprar">Comprar</button>
                        <button class="btncarrito">Añadir al carrito</button>
                     </div>
                </div>                     
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/bicicleta.jpg" alt="">
            
                <div class="panel2">
                    <img class="fav" src="/public/icons/heart-outline.svg" alt="">
                </div>
                <div class="info">
                    <a><h3>Bicicleta plegable tomega angelia sport R20</h3></a>
                   
                    </div class="precio">
                        <span class="precio" >$89.839</span>
                        <small class="cuotas">12 Cuotas x $12.799</small>

                    <div class="btndiv">
                        <button class="btncomprar">Comprar</button>
                        <button class="btncarrito">Añadir al carrito</button>
                     </div>
                </div>                     
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/notebooklenovo14.webp"  alt="">
            
                <div class="panel2">
                    <img class="fav" src="/public/icons/heart-outline.svg" alt="">
                </div>
                <div class="info">
                    <a><h3>Notebook Lenovo 14" AMD 3020 4GB 500GB 145-81UV00AM</h3></a>
                   
                    </div class="precio">
                        <span class="precio" >$64.999</span>
                        <small class="cuotas">12 Cuotas x $5.750</small>

                    <div class="btndiv">
                        <button class="btncomprar">Comprar</button>
                        <button class="btncarrito">Añadir al carrito</button>
                     </div>
                </div>                     
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/lavarropa.jpg" alt="">
            
                <div class="panel2">
                    <img class="fav" src="/public/icons/heart-outline.svg" alt="">
                </div>
                <div class="info">
                    <a><h3>Lavarropas LG WM8514EE6 8,5KG</h3></a>
                   
                    </div class="precio">
                        <span class="precio" >$81.999</span>
                        <small class="cuotas">12 Cuotas x $7.999</small>

                    <div class="btndiv">
                        <button class="btncomprar">Comprar</button>
                        <button class="btncarrito">Añadir al carrito</button>
                     </div>
                </div>                     
            </div>
            
            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/cocina.jpg" alt="">
            
                <div class="panel2">
                    <img class="fav" src="/public/icons/heart-outline.svg" alt="">
                </div>
                <div class="info">
                    <a><h3>Cocina Multigas Orbis Macrovision 958BC3M 55CM</h3></a>
                   
                    </div class="precio">
                        <span class="precio" >$56.999</span>
                        <small class="cuotas">12 Cuotas x $5.500</small>

                    <div class="btndiv">
                        <button class="btncomprar">Comprar</button>
                        <button class="btncarrito">Añadir al carrito</button>
                     </div>
                </div>                     
            </div>

            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/heladera.jpg" alt="">
            
                <div class="panel2">
                    <img class="fav" src="/public/icons/heart-outline.svg" alt="">
                </div>
                <div class="info">
                    <a><h3>Heladera No Frost ElectroLux DFN3000P 265LTS</h3></a>
                   
                    </div class="precio">
                        <span class="precio" >$72.449</span>
                        <small class="cuotas">12 Cuotas x $9.499</small>

                    <div class="btndiv">
                        <button class="btncomprar">Comprar</button>
                        <button class="btncarrito">Añadir al carrito</button>
                     </div>
                </div>                     
            </div>

            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/microondas.jpg" alt="">
            
                <div class="panel2">
                    <img class="fav" src="/public/icons/heart-outline.svg" alt="">
                </div>
                <div class="info">
                    <a><h3>Microondas Digital BGH Quick Chef B223DS20 23LTS</h3></a>
                   
                    </div class="precio">
                        <span class="precio" >$25.979</span>
                        <small class="cuotas">12 Cuotas x $4.259</small>

                    <div class="btndiv">
                        <button class="btncomprar">Comprar</button>
                        <button class="btncarrito">Añadir al carrito</button>
                     </div>
                </div>                     
            </div>
            
            
            
            
        </div> 

        <div class="carousel-item">
            <img class="carousel-item-img" src="/public/images/tv32bgh.jpg" alt="">
        
            <div class="panel2">
                <img class="fav" src="/public/icons/heart-outline.svg" alt="">
            </div>
            <div class="info">
                <a><h3>Smart TV 32 BGH B3219K5 HD</h3></a>
               
                </div class="precio">
                    <span class="precio" >$30.229</span>
                    <small class="cuotas">12 Cuotas x 6.000</small>

                <div class="btndiv">
                    <button class="btncomprar">Comprar</button>
                    <button class="btncarrito">Añadir al carrito</button>
                 </div>
            </div>                     
        </div>

        <div class="carousel-item">
            <img class="carousel-item-img" src="/public/images/tv55led.jpg" alt="">
        
            <div class="panel2">
                <img class="fav" src="/public/icons/heart-outline.svg" alt="">
            </div>
            <div class="info">
                <a><h3>Samsung S20 Fan Edition Azul</h3></a>
               
                </div class="precio">
                    <span class="precio" >$91.079</span>
                    <small class="cuotas">12 Cuotas x 11.599</small>

                <div class="btndiv">
                    <button class="btncomprar">Comprar</button>
                    <button class="btncarrito">Añadir al carrito</button>
                 </div>
            </div>                     
        </div>

        
</section>





<section class="footertop">

    <div class="emailsub">
         <span>¡Recibí nuestras promociones exclusivas! </span>
         
        <input type="email" class="inputemail" name="email" id="" placeholder="Ingresá tu e-mail...">
        <input type="submit" value="Suscribirse" class="confirmaremail"/> 
    </div>

    <div class="contenedorventatelefonica">  
                    
        <b class="bRED"> VENTA TELEFONICA: </b> <span class="numerotel"> 0810-111-0707 </span>
              <div class="contenedorclietne">
                 <span>Atencion al cliente:</span> 
               de <b>9</b> a <b> 20 </b> hs / Sáb. de <b>9</b> a <b>18</b> hs
              </div>                                                
      </div>

    <div class="social">
        <a href="https://www.facebook.com/electroHogar"><img src="/public/icons/facebook.png" alt="Seguinos en Facebook" class="facebook"></a> 
        <a href="www.instagram.com/electrohogarr"><img src="/public/icons/instagram.png" alt="Seguinos en Instagram" class="instagram"></a> 
        <a href="www.twitter.com/electroHogar"><img src="/public/icons/twitter.png" alt="Seguinos en twitter" class="twitter"></a> 
        <a href="www.youtube.com/electroHogar"><img src="/public/icons/youtube.png" alt="Seguienos en Youtube" class="youtube"></a> 
    </div>
</section>

<section>
    <div class="footercentral">
                
            <div class="footercolumna2Row">
                <h3>Categorias</h3>
                     <ul>
                    <li>Tecnologia</li>
                    <li>Decoracion</li>
                    <li>Celulares</li>
                    <li>Heladeras</li>
                    <li>Climatizacion</li>
                     </ul>
             </div>

        <div class="footercolumna3Row">
            <h3>Nosotros</h3>
                <ul>
                    <li>Sucursales</li>
                    <li>Trabaja con nosotros</li>
                    <li>Quienes somos</li>
                    <li>Terminos y condiciones</li>
                   
                 </ul>
                 
                 <button class="btnarrepentirse">
                     <a href="#">Boton de arrepentimiento</a>
                 </button>
        </div>

        <div class="mediosdepago">
            <h3>Medios de pago</h3>
            <img src="/public/images/logos-forma-de-pago.png" alt="">
        </div>

        <div class="whatsapp">
            <img class="wpp" src="/public/images/whatsapp (1).png" alt="">
            <a class="whapp" href="https://api.whatsapp.com/send?phone=+542213144611" target="_blank">
                <span>Contactanos</span>
                <small>Vía WhatsApp</small>
            </a>
        </div>

    </div>
</section>


</body>

</html>