<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/images/electrohogarlogo.png">
    <link rel="stylesheet" href="/public/css/header.css">
    <script src="https://kit.fontawesome.com/fb257ce5bf.js" crossorigin="anonymous"></script>
    <title>ElectroHogar | Tecnologia para el Hogar</title>
</head>

<body>
    <input type="checkbox" id="check">
    <main >
        <div class="logomain">
            <a href="index.html"><img class="logo" src="/public/images/electrohogarlogo.png" alt=""></a>
        </div>
        <div class="buscar"> 
            <input type="search" placeholder="Buscar productos..">
                <i class="fas fa-search"></i>
            </div>
            <div class="headernav"> 
            <ul>
                <li><a href="#"><img class="iconcarrito" src="/public/icons/shopping-cart.png" alt="Carrito">Carrito</a></li>
                <li><a href="#"><img class="iconfav" src="/public/icons/favorite.png" alt="Favoritos">Favoritos</a></li>
                <li><a href="#"><img class="iconcuenta" src="/public/icons/perfil.png" alt="Mi cuenta">Mi cuenta</a></li>
            </ul>
            <label for="check" class="bar">
                <span class="fa fa-bars" id="bars"></span>
                <span class="fa fa-times" id="times"></span>

            </label>
        </div>
    
    </main>

    <nav>
        <ul>
            <li href="#">Categorias</li>
            <li href="#">Electrodomesticos</li>
            <li href="#">Celulares</li>
            <li href="#">Computadoras</li>
            <li href="#">Aire Acondicionado</li>
            <li href="#">Gaming</li>
        </ul>
    </nav>

<section>
    <div class="section1"></div>
    <img class="heladera" src="/public/images/carrouselheladera.jpg" alt="">
</section>

<section class="carousel1">
    <h3>Ofertas</h3>
        <div class="carousel_container">



            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/170055-1200-auto.jpg" alt="">
                <div class="panel1">
                    <a href="#" class="far fa-bookmark"></a>
                </div>
                <div class="panel2">
                    <a href="#" class="far fa-thumbs-up"></a>
                </div>
                <div class="info">
                    <a><h3>Demo Nam</h3></a>
                    <div class="stars">
                        <i class="fas fa-star"></i> (4.5/5)
                    </div>
                    <strong class="price"><span class="mrp">>1200/-</span>&nbsp;&nbsp;700/-</strong>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/170055-1200-auto.jpg" alt="">
                <div class="panel1">
                    <a href="#" class="far fa-bookmark"></a>
                </div>
                <div class="panel2">
                    <a href="#" class="far fa-thumbs-up"></a>
                </div>
                <div class="info">
                    <a><h3>Demo Nam</h3></a>
                    <div class="stars">
                        <i class="fas fa-star"></i> (4.5/5)
                    </div>
                    <strong class="price"><span class="mrp">>1200/-</span>&nbsp;&nbsp;700/-</strong>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/170055-1200-auto.jpg" alt="">
                <div class="panel1">
                    <a href="#" class="far fa-bookmark"></a>
                </div>
                <div class="panel2">
                    <a href="#" class="far fa-thumbs-up"></a>
                </div>
                <div class="info">
                    <a><h3>Demo Nam</h3></a>
                    <div class="stars">
                        <i class="fas fa-star"></i> (4.5/5)
                    </div>
                    <strong class="price"><span class="mrp">>1200/-</span>&nbsp;&nbsp;700/-</strong>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/170055-1200-auto.jpg" alt="">
                <div class="panel1">
                    <a href="#" class="far fa-bookmark"></a>
                </div>
                <div class="panel2">
                    <a href="#" class="far fa-thumbs-up"></a>
                </div>
                <div class="info">
                    <a><h3>Demo Nam</h3></a>
                    <div class="stars">
                        <i class="fas fa-star"></i> (4.5/5)
                    </div>
                    <strong class="price"><span class="mrp">>1200/-</span>&nbsp;&nbsp;700/-</strong>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/170055-1200-auto.jpg" alt="">
                <div class="panel1">
                    <a href="#" class="far fa-bookmark"></a>
                </div>
                <div class="panel2">
                    <a href="#" class="far fa-thumbs-up"></a>
                </div>
                <div class="info">
                    <a><h3>Demo Nam</h3></a>
                    <div class="stars">
                        <i class="fas fa-star"></i> (4.5/5)
                    </div>
                    <strong class="price"><span class="mrp">>1200/-</span>&nbsp;&nbsp;700/-</strong>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/170055-1200-auto.jpg" alt="">
                <div class="panel1">
                    <a href="#" class="far fa-bookmark"></a>
                </div>
                <div class="panel2">
                    <a href="#" class="far fa-thumbs-up"></a>
                </div>
                <div class="info">
                    <a><h3>Demo Nam</h3></a>
                    <div class="stars">
                        <i class="fas fa-star"></i> (4.5/5)
                    </div>
                    <strong class="price"><span class="mrp">>1200/-</span>&nbsp;&nbsp;700/-</strong>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/170055-1200-auto.jpg" alt="">
                <div class="panel1">
                    <a href="#" class="far fa-bookmark"></a>
                </div>
                <div class="panel2">
                    <a href="#" class="far fa-thumbs-up"></a>
                </div>
                <div class="info">
                    <a><h3>Demo Nam</h3></a>
                    <div class="stars">
                        <i class="fas fa-star"></i> (4.5/5)
                    </div>
                    <strong class="price"><span class="mrp">>1200/-</span>&nbsp;&nbsp;700/-</strong>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/170055-1200-auto.jpg" alt="">
                <div class="panel1">
                    <a href="#" class="far fa-bookmark"></a>
                </div>
                <div class="panel2">
                    <a href="#" class="far fa-thumbs-up"></a>
                </div>
                <div class="info">
                    <a><h3>Demo Nam</h3></a>
                    <div class="stars">
                        <i class="fas fa-star"></i> (4.5/5)
                    </div>
                    <strong class="price"><span class="mrp">>1200/-</span>&nbsp;&nbsp;700/-</strong>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item-img" src="/public/images/170055-1200-auto.jpg" alt="">
                <div class="panel1">
                    <a href="#" class="far fa-bookmark"></a>
                </div>
                <div class="panel2">
                    <a href="#" class="far fa-thumbs-up"></a>
                </div>
                <div class="info">
                    <a><h3>Demo Nam</h3></a>
                    <div class="stars">
                        <i class="fas fa-star"></i> (4.5/5)
                    </div>
                    <strong class="price"><span class="mrp">>1200/-</span>&nbsp;&nbsp;700/-</strong>
                </div>
            </div>
        </div>
 
           
    
</section>





<section class="footertop">

    <div class="emailsub">
         <span>¡Recibí nuestras promociones exclusivas! </span>
         
        <input type="email" class="inputemail" name="email" id="" placeholder="Ingresá tu e-mail...">
        <input type="submit" value="Suscribirse" class="confirmaremail"/> 
    </div>

    <div class="contenedorventatelefonica">  
                    
        <b class="bRED"> VENTA TELEFONICA: </b> <span class="numerotel"> 0810-111-0707 </span>
              <div class="contenedorclietne">
                 <span>Atencion al cliente:</span> 
               de <b>9</b> a <b> 20 </b> hs / Sáb. de <b>9</b> a <b>18</b> hs
              </div>                                                
      </div>

    <div class="social">
        <a href="https://www.facebook.com/electroHogar"><img src="/public/icons/facebook.png" alt="Seguinos en Facebook" class="facebook"></a> 
        <a href="www.instagram.com/electrohogarr"><img src="/public/icons/instagram.png" alt="Seguinos en Instagram" class="instagram"></a> 
        <a href="www.twitter.com/electroHogar"><img src="/public/icons/twitter.png" alt="Seguinos en twitter" class="twitter"></a> 
        <a href="www.youtube.com/electroHogar"><img src="/public/icons/youtube.png" alt="Seguienos en Youtube" class="youtube"></a> 
    </div>
</section>

<section>
    <div class="footercentral">
                
            <div class="footercolumna2Row">
                <h3>Categorias</h3>
                     <ul>
                    <li>Tecnologia</li>
                    <li>Decoracion</li>
                    <li>Celulares</li>
                    <li>Heladeras</li>
                    <li>Climatizacion</li>
                     </ul>
             </div>

        <div class="footercolumna3Row">
            <h3>Nosotros</h3>
                <ul>
                    <li>Sucursales</li>
                    <li>Trabaja con nosotros</li>
                    <li>Quienes somos</li>
                    <li>Terminos y condiciones</li>
                   
                 </ul>
                 
                 <button class="btnarrepentirse">
                     <a href="#">Boton de arrepentimiento</a>
                 </button>
        </div>

        <div class="mediosdepago">
            <h3>Medios de pago</h3>
            <img src="/public/images/logos-forma-de-pago.png" alt="">
        </div>

        <div class="whatsapp">
            <img class="wpp" src="/public/images/whatsapp (1).png" alt="">
            <a class="whapp" href="https://api.whatsapp.com/send?phone=+542213144611" target="_blank">
                <span>Contactanos</span>
                <small>Vía WhatsApp</small>
            </a>
        </div>

    </div>
</section>


</body>

</html>