<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login web</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
    <div class="logo"> 
    <header>
        <img src="img/logo.jpg">
    </header>
    </div>

  <p class="ingreso">Ingresa los datos de tu cuenta</p>
  
      <div class="form">
      <input class="input-style" type="Email" name="name" placeholder="Email:">
      <span class="error">Debes ingresar tu Email</span>
      </div>

       <div class="form">
        <input class="input-style" type="Contraseña" name="name" placeholder="Contraseña:">
        <span class="error">Debes ingresar tu Contraseña</span>
       </div>

       <span class="cuenta"> <button type="continue" class="btn btn-continue">Continuar</button></span>

       <div class="datos"> 
       <div class="olvide"> <span class="centro"><a href="#" class="link"> olvidé mi contraseña</a></span> </div>
        <span class="cuenta"> <button type="dsff" class="btn btn-cuenta">No tengo cuenta</button> </span>
       </div>

              <span> <a href="#" class="link"> volver al menú de inicio</a> </span>
    </div>

</body>
</html>