<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro web</title>
    <link rel="stylesheet" href="css/perfil.css">
</head>
<body>
    <div class="container">

     

  <p class="bienvenido">BIENVENIDO COSME FULANITO, A LA FECHA CONTAS CON: </p>
  <p class="datos"> Mis datos </p>

  <div class="perfil2">

  <p class="perfil">Nombre y apellido: Cosme Fulanito</p>
  <p class="datosP">Email: CosmeFulanitoRockstar23@gmail.com</p>
  <p class="datosP">Telefono: +542213144243</p>
  <p class="datosP">DNI:4323323540</p>

  </div>

       <span class="cuenta"> <button type="continue" class="btn btn-continue">Editar mis datos</button></span>

       <p class="datos"> Mis compras </p>

       <table>

         <tr>
           <th>Orden</th>
           <th>Fecha</th>
           <th>Estado</th>
           <th>Pago</th>
           <th>Envío</th>
           <th>Total</th>
           
         </tr>

        <tr>
           <td>#8222</td>
           <td> 11/6/2021</td>
           <td>Abierta</td>
           <td>Pagado</td>
           <td>Envíado</td>
           <td>$1.449,55</td>
           <td>Seguí tu orden</td>
        
        </tr>
        
       </table>

            
    </div>

</body>
</html>