<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="../public/css/HeaderNavFooter.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
   <script src="https://kit.fontawesome.com/fb257ce5bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/productDetail.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <input type="checkbox" id="check">

    <header >

        <div class="logomain">
            
            <a href="home.html"><img class="logo" src="/public/images/electrohogarlogo2resuelto.png" alt=""></a>
        </div>
        <div class="buscar"> 
            <input type="search" placeholder="Buscar productos..">
                <i class="fas fa-search"></i>
            </div>

            <div class="headernav"> 
            <ul>
                <li><a href="carrito.html"><img class="iconcarrito" src="/public/icons/shopping-cart.png" alt="Carrito">Carrito</a></li>
                <li><a href="#"><img class="iconfav" src="/public/icons/favorite.png" alt="Favoritos">Favoritos</a></li>
                <li><a href="registro.html"><img class="iconcuenta" src="/public/icons/perfil.png" alt="Mi cuenta">Mi cuenta</a></li>
            </ul>
            <label for="check" class="bar">
                <span class="fa fa-bars" id="bars"></span>
                <span class="fa fa-times" id="times"></span>

            </label>
        </div>
    
    </header>

    <nav>
        <ul>
            <li href="#">Categorias</i></li>
            <li href="#">Smart TV</li>
            <li href="#">Celulares</li>
            <li href="#">Notebooks</li>
            <li href="#">Aire Acondicionado</li>
            <li href="#">Cocinas</li>
            <li href="#">Heladeras</li>
            <li href="#">Lavado</li>
            <li href="#">Colchones</li>
            <li href="#">Gaming</li>
            
        </ul>
    </nav>

    <main>
        <div>
            <h2>Inicio > Tecnologia> Celulares y accesorios>Motorola</h2>
        </div>
        <article>
            <h1>Motorola Moto G100 128gb Liberado + <br> Funda Gorilla Glass 3</h1>
            <img class="one" src="../public/images/1.jpg" alt="">
            <img class="two" src="../public/images/2.jpg" alt="">
            <img class="three" src="../public/images/3.jpg" alt="">
        </article>
        <div class="especificaciones">
            <p class="a">$96.999</p>
            <p class="b">6 Cuotas x 12.900.99 Sin Interés</p>
            <button>Comprar</button>
            <a class="input" href="">Ver cuotas y formas de pago</a>
            <i class="far fa-store"></i>
            <p class="p-one">Retiro gratis por sucursal</p>
            <a class="ver" href="">Ver sucursales</a>
            <i class="fal fa-shipping-fast"></i>
            <p class="p-two">Envio a domicilio a todo el pais</p>
            <a class="verd" href="">Calcular costos de envío </a>
        </div>
        <div class="detalles">
            <hr>
            <ul>
                <h1>Detalles</h1>
                <h2>Especificaciones Técnicas</h2>
                <h3>MOTO G100 XT2125-4 MOTOROLA</h3>
                <li>Pantalla 6.7" (1080x2520) 21:9</li>
                <li>Procesador Snapdragon 870, Octa Core 3.2Ghz</li>
                <li>Memoria RAM 8GB LPDDR5</li>
                <li>Memoria interna 128GB</li>
                <li>Expandible hasta 1TB con Micro SD</li>
                <li>Android 11</li>
                <li>Cámara Trasera: Principal 64.2MP (79°)F1.7 + Ultra Gran Angular y Macro 16MP (117°) F2.2 + Profundidad: 2MP (83°) F2.4, Flash Dual LED <(>&<)> Ringflash (for Macro)</li>
                <li> Cámara Frontal: Principal: 16MP (73.3°) F2.2 + Ultra Gran Angular 8MP (118°) F2.4, Flash Backlight</li>
                <li>Resolución de Video: UHD 6K@30fps (3384x6016), UHD 6K 21:9@30fps (2578x6016), UHD 4K@30/60fps (2160x3840), UHD 4K 21:9@30/60fps (1646x3840), FHD 21:9@30/60fps (822x1920), FHD@30/60fps (1080x1920)</li>
                <li>WiFi 802.11a/b/g/n/ac/ax /k/v/r/u</li>
            </ul>
        </div>
    </main>
    
<footer>

    <div class="footertop">
    
    
        <div class="emailsub">
             <span>¡Recibí nuestras promociones exclusivas! </span>
             
            <input type="email" class="inputemail" name="email" id="" placeholder="Ingresá tu e-mail...">
            <input type="submit" value="Suscribirse" class="confirmaremail"/> 
        </div>
    
        <div class="contenedorventatelefonica">  
                        
            <b class="bRED"> VENTA TELEFONICA: </b> <span class="numerotel"> 0810-111-0707 </span>
                  <div class="contenedorclietne">
                     <span>Atencion al cliente:</span> 
                   de <b>9</b> a <b> 20 </b> hs / Sáb. de <b>9</b> a <b>18</b> hs
                  </div>                                                
          </div>
    
        <div class="social">
            <a href="https://www.facebook.com/electroHogar"><img src="../public/icons/facebook.png" alt="Seguinos en Facebook" class="facebook"></a> 
            <a href="www.instagram.com/electrohogarr"><img src="../public/icons/instagram.png" alt="Seguinos en Instagram" class="instagram"></a> 
            <a href="www.twitter.com/electroHogar"><img src="../public/icons/twitter.png" alt="Seguinos en twitter" class="twitter"></a> 
            <a href="www.youtube.com/electroHogar"><img src="../public/icons/youtube.png" alt="Seguienos en Youtube" class="youtube"></a> 
        </div>
    
    </div>
        <section>
            <div class="footercentral">
                        
                    <div class="footercolumna2Row">
                        <h3>Categorias</h3>
                             <ul>
                            <li>Tecnologia</li>
                            <li>Decoracion</li>
                            <li>Celulares</li>
                            <li>Heladeras</li>
                            <li>Climatizacion</li>
                             </ul>
                     </div>
        
                <div class="footercolumna3Row">
                    <h3>Nosotros</h3>
                        <ul>
                            <li>Sucursales</li>
                            <li>Trabaja con nosotros</li>
                            <li>Quienes somos</li>
                            <li>Terminos y condiciones</li>
                           
                         </ul>                   
                         
                </div>
    
              
        
        
    
            </div>
        </section>
    
    </footer>
</body>

</html>