<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro web</title>
  <link rel="stylesheet" href="css/registro.css">
</head>

<body>
  <div class="container">
    <div class="logo">
      <header>
        <img src="img/logo.jpg">
      </header>
    </div>

    <p class="ingreso">Ingresa los datos de tu cuenta</p>



     <div class="padre">

      <div class="box-1"> 

      <div class="form">
        <input class="input-style" type="nombre" name="name" placeholder="Nombre:">
        <span class="error">Debes ingresar tu Nombre</span>
      </div>

      <div class="form">
        <input class="input-style" type="Email" name="name" placeholder="Email:">
        <span class="error">Debes ingresar tu Email</span>
      </div>

      <div class="form">
        <input class="input-style" type="Email" name="name" placeholder="confirmar Email:">
        <span class="error">Debes re-ingresar tu Email</span>
     </div>

    </div>

    <div class="box-2">
      <div class="form">
        <input class="input-style" type="Apellido" name="name" placeholder="Apellido:">
        <span class="error">Debes ingresar tu Apellido</span>
      </div>

      <div class="form">
        <input class="input-style" type="Contraseña" name="name" placeholder="Contraseña:">
        <span class="error">Debes ingresar tu Contraseña</span>
      </div>

      <div class="form">
        <input class="input-style" type="Email" name="name" placeholder="Confirmar Contraseña:">
        <span class="error">Debes re-ingresar tu Contraseña</span>
      </div>

    </div>

  </div>

    <span class="cuenta"> <button type="continue" class="btn btn-continue">Registrarse</button></span>



    <span> <a href="#" class="link"> volver al menú de inicio</a> </span>
  </div>

</body>

</html>