.divnavadmin{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 700px;
    background-color: #FFFFFF;
    padding:15px;
}

.divnavadmin strong{
    color:rgb(59, 59, 59);
    display: flex;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.navadmin {
    color: rgb(59, 59, 59);
}

.navadmin ul{
    margin: 10px 0;
    display: flex;
}

.navadmin ul svg{
    font-size: 13px;
    width: 40px;
    height: 20px;
    color: #4F46E5;
}

.logoutnav{
    display: flex;
    color: #4F46E5;
    position: relative;
    bottom: -490px;
}


/* HEADER ADMIN */

.perfiladmin{
    width: 100%;
    height: 50px;
    background-color: #1F2937;
}

.perfiladmin span{
    color: white;
    position: relative;
    top: 13px;
    padding-left: 40px;
}

.headeradmin{
    display: flex;
}


.flex.items-center.max-w-md.mx-auto.bg-white.rounded-lg {
    position: relative;
    top: -50px; 
 }

 .headeracontainer{
     height: 40px;
 }