.querysearchh3 {
    color: rgb(48, 46, 46);
    font-size: 30px;
    display: block;
    margin:0

}

aside{
    background-color: #EEEEEE;

}

.asidediv{
    background-color: #ffffff;
    margin:50px;
    width: 300px;
    height: 1000px;
    text-align: center;
}

.section {
    display: flex;
}

.boxarearightbtn {
    display: flex;
    align-items: center;
}

.boxarea {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #EEEEEE;
    font-size: 17px;
    margin-left: 15px;
}

.boxareachild2{
    display: flex;

}

.boxareachild2 svg {
    fill: rgb(154 154 154);
    color: rgb(154 154 154);
}

.boxareachild2 path {
    color: rgb(154 154 154);
    fill: rgb(154 154 154);
}

.boxareachild2 svg:hover{
    color: rgb(12, 12, 12);
    fill:rgb(12, 12, 12);
}


.boxareachild2 path:hover{
    color: rgb(12, 12, 12);
    fill:rgb(12, 12, 12);
}



.boxareachild1, 
.boxareachild2,
.boxareachild3 {
    margin: 5px;
}

.vistagrid {
    width: 25px;
    height: 25px;
    margin: 5px;
    color: rgb(236, 55, 55);
}

.selectprecio {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../images/select-arrow.png), 
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 5px;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: Ellipsis;
    white-space: nowrap;
    user-select: none;
    border-radius: 0px;
    box-shadow: none; 
}


.selectprecio select{
    border: none;
}

.boxareachild2 {
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    padding: 5px;
}

.boxareachild3 {
    margin-right: 30px;
}

.dropdown {
    width: 12rem;
    position: relative;
}

.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
}
.dropdown-select {
    
    border-radius: 6px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    cursor: pointer;
}

.dropdown-list {
    border-radius: 4px;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s linear, visibility 0.3s linear;
    cursor: pointer;
}

.dropdown-list_item {
    padding: 1rem;
    font-size: 18px;
    background-color: white;
}


/* Vista categorias boxarea */

.boxarea1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeeee;
}
    

.namecategory {
    margin-left: 15px;
}

.containerCategory{
    display: flex;
    align-items: center;
}

.containersectioncards {
    display: flex;
}

aside {
    background-color: #f6f6f6;    
    display: flex;
    width: 260px;
    height: 700px;
    color: white;
    padding: 20px;
    font-size: 13px;
    margin-left: 13px;
    margin-top: 0px;
}



