.querysearchh3 {
    color: rgb(48, 46, 46);
    font-size: 30px;
    display: block;
    margin:0

}

aside{
    background-color: #EEEEEE;

}

.asidediv{
    background-color: #ffffff;
    margin:50px;
    width: 300px;
    height: 1000px;
    text-align: center;
}

.section {
    display: flex;
}

.boxarea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #EEEEEE;
    font-size: 17px;
}

.boxareachild1, 
.boxareachild2,
.boxareachild3 {
    margin: 5px;
}

.vistagrid {
    width: 25px;
    height: 25px;
    margin: 5px;
    color: rgb(236, 55, 55);
}

.selectprecio {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../images/select-arrow.png), 
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 5px;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: Ellipsis;
    white-space: nowrap;
    user-select: none;
    border-radius: 0px;
    box-shadow: none; 
}


.selectprecio select{
    border: none;
}

.boxareachild2 {
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    padding: 5px;
}

.boxareachild3 {
    margin-right: 30px;
}