.slider {
    width: 100%;
    margin:0;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 500%;

    animation: cambio 20s infinite;
    animation-direction:normal;
    animation-timing-function: linear;
}

.slider li {
    width: 100%;
    list-style: none;
    height: 250px;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% { margin-left: 0;}
    10% {margin-left: 0; }

    15% {margin-left: -100%; }
    35% {margin-left: -100%; }
   
    40% {margin-left: -200%; }
    60% {margin-left: -200%; }
   
    65% {margin-left: -300%; }
    80% {margin-left: -300%; }

    85% {margin-left: -400%; }
    100% {margin-left: -400%; }
}