@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* TEXTO SUPERIOR */
.textSuperior{
    margin-left: 10px;
    margin-top: 5px;
}

.textSuperior a{
    text-decoration: none;
    color: #101010; /* Color de fondo */
}

.container1{ /* El primer contenedor de 3 cajas con carrito,etc */
    border: 1px; /* Sinceramente no tengo idea y no le vi cambio alguno */
    display: flex; /* Para que las cajitas estén una al lado del otro */
    width: 1140px; /* el ancho de la caja */
    margin-top: 30px; /* Distancia al márgen superior de 30px */
    font-family: Roboto,sans-serif;
    color: #EDEDED;
    margin-left: auto;
    margin-right: auto;
}

.container1 .container-proccess1 { /* Esta es la primer cajita */
    background-color: #009688; /* el color de la cajita */
    width: 380px; /* el ancho de la caja */
    height: 40px; /* la altura de la caja */
}

.container-proccess1 p{
    text-align: center; /* Para que el texto esté en el centro */
    margin-top: 11.5px;
}

.container1 .container-proccess2 { /* Esta es la primer cajita */
    background-color: #35529C; /* el color de la cajita */
    width: 380px; /* el ancho de la caja */
    height: 40px; /* la altura de la caja */
}

.container-proccess2 p{
    text-align: center; /* Para que el texto esté en el centro */
    margin-top: 11.5px;
}

.container1 .container-proccess3 {
    background-color: #35529C; /* el color de la cajita */
    width: 380px; /* el ancho de la caja */
    height: 40px; /* la altura de la caja */
}
.container-proccess3 p{
    text-align: center; /* Para que el texto esté en el centro */
    margin-top: 11.5px;
}

/* SEGUNDO CONTENEDOR */

.container2{
    background-color: #2D2D2D; /* La cajita lateral negra sobre el tercer contenedor */
    width: 1140px; /* el ancho de la caja */
    height: 10px; /* la altura de la caja */
    border: 1px solid #2D2D2D;
    margin-left: auto; /* Acomoda automáticamente el márgen del centro a la izquierda */
    margin-right: auto; /* Acomoda automáticamente el márgen del centro a la derecha */
    margin-top: 20px; /* Distancia al margen inferior del primer contenedor */
}

/* TERCER CONTENEDOR */ 
/* Producto 1 */

.container3{
    margin-top: 2px;
    display: flex;
    background-color: #FAFAFA;
    border: 1px solid #2D2D2D;
    width: 1140px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.container3 .box1{
    margin-top: 10px;
}

.container3 .box2 p{
    font-family: Roboto, sans-serif;
    margin-top: 40px;
}

.container3 .box3{
    margin-top: 40px;
}

.container3 .box4{
    font-family: Roboto, sans-serif;
    margin-top: 40px;
}

.container3 .box5{
    font-family: Roboto, sans-serif;
    font-weight: normal;
    margin-top: 40px;
}

.container3 img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border-style:solid;
    border-width: 1px;
}

/* TERCER CONTENEDOR */
/* Producto 2 */

.container3{
    margin-top: 2px; 
    background-color: #FAFAFA;
    border: 1px solid #2D2D2D;
    width: 1140px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.container3 .box1{
    margin-top: 10px;
}

.container3 .box2 p{
    font-family: Roboto, sans-serif;
    margin-top: 40px;
}

.container3 .box3{
    margin-top: 40px;
}

.container3 .box4 a{
    font-family: Roboto, sans-serif;
    font-weight:100px;
    margin-top: 40px;
    text-decoration: none;
    color: #2D2D2D;
}

.container3 .box5 a{
    font-family: Roboto, sans-serif;
    font-weight:100px;
    margin-top: 40px;
    text-decoration: none;
    color: #2D2D2D;
}

.container3 img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border-style:solid;
    border-width: 1px;
    border-color: lightslategrey ;
}

/* CUARTO CONTENEDOR */
/* Total a pagar, etc */

.container4{ /* El contenedor inferior de cupón,agregar,total,etc */
    background-color: #EDEDED;
    width: 1140px; /* el ancho de la caja */
    height: 90px; /* la altura de la caja */
    margin-left: auto; /* Acomoda automáticamente el márgen del centro a la izquierda */
    margin-right: auto; /* Acomoda automáticamente el márgen del centro a la derecha */
    border: 1px solid #2D2D2D; /* Definición del borde para contener el blanco dentro */
    margin-top: 4px;
    display: flex;
    justify-content: space-around ;
}

.btn{
    background-color: #2D2D2D; /* color de fondo del botón. */
    color: #FAFAFA; /* color del texto en código hexadecimal */
    text-decoration: none; /* para quitarle el estilo de enlace, como el subrayado */
    font-family: Roboto, sans-serif; /* Tipo de fuente */
    font-weight: 100px; /* para darle cuerpo (tipo negrita) al texto del botón. */
    padding: 10px;  /* el relleno */
    border-radius: 5px; /* redondeo del botón. */
    border-color: #2D2D2D;
}

.btn:hover{
    background-color: #111111;
}

.btn-add-product{
    font-size: 15px; /* el tamaño del texto en pixeles. */
}

.input-style{
    padding: 10px;
    text-align: center;
    border: 1px solid #828282;
    border-radius: 5px;
}

.btn2{
    background-color: #797373; /* color de fondo del botón. */
    color: #FAFAFA; /* color del texto en código hexadecimal */
    text-decoration: none; /* para quitarle el estilo de enlace, como el subrayado */
    font-family: Roboto, sans-serif; /* Tipo de fuente */
    font-weight: 100px; /* para darle cuerpo (tipo negrita) al texto del botón. */
    padding:11px;
    border-right: none;
    border-radius:5px;
    border:none;
}

.btn2:hover{
    background-color: #0805b4d8;
}

.container4 p{
    font-family: Roboto,sans-serif;
    margin-top: 35px;
}

.cupon{
    margin-top: 23px;
}

.product{
    margin-top: 33.5px;
}

.stepaso{
    margin-top: 33.5px;
}

.carrito-mobile{
    display: none;
}
.pago-mobile{
    display: none;
}

.pago-tablet{
    display: none;
}

/* Versión Tablet */

@media only screen 
  and (min-device-width: 590px) 
  and (max-device-width: 1024px){

    .container1{ /* El primer contenedor de 3 cajas con carrito,etc */
        border: 1px; /* Sinceramente no tengo idea y no le vi cambio alguno */
        display: flex; /* Para que las cajitas estén una al lado del otro */
        margin-top: 30px; /* Distancia al márgen superior de 30px */
        justify-content: center; /* Para que las cajitas queden en el centro */
        font-family: Roboto,sans-serif;
        width: 586.5px;
        margin-left: auto;
        margin-right: auto;
    }

    .container2{
        display: none;
    }

    .black-bar-mobile{
        display: flex;
        width: 580px; 
        height: 10px; /* la altura de la caja */
        background-color: #2D2D2D; /* La cajita lateral negra sobre el tercer contenedor */
        border: 1px solid #2D2D2D;
        margin-left: auto; /* Acomoda automáticamente el márgen del centro a la izquierda */
        margin-right: auto; /* Acomoda automáticamente el márgen del centro a la derecha */
        margin-top: 10px;
    }

    .container3{
        width: 580px;
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .container4{
        display: none;
    }

    .pago-tablet{
        display: flex;
        flex-direction: column ;
        height: auto;
        width: 580px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px; 
        background-color: #EDEDED;
        border: 1px solid #EDEDED;
        box-shadow: 0px 1px 5px 0px #2D2D2D;
    }

    .flex{
        display: flex;
        justify-content: space-between;
        margin-top: -20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .flex2{
        display: flex;
        justify-content: space-between;
        margin-top: -5px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .flex2 p{
        margin-top: 30px;
        position: relative;
    }

    .btn-tablet:hover{
        background-color: #111111;
    }
    
    .btn-tablet{
        background-color: #2D2D2D;
        color: #FAFAFA;
        text-decoration: none;
        font-family: Roboto, sans-serif;
        font-weight: 100px;
        font-size: 10px;
        padding: 10px; 
        padding-top: 5px;
        padding-bottom: 6px;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
    
    .btn-tablet2{
        font-size: 10px;
        padding: 5.3px;
        border-radius: 4px 0px 0px 4px;
        background-color: #2D2D2D;
        color: #FAFAFA;
        text-decoration: none;
        font-family: Roboto, sans-serif;
        font-weight: 100px;
        border-color: #2D2D2D;
        border-radius: 4px 0px 0px 4px;
    }

    .input-tablet{
        font-size: 10px;
        padding: 4.2px;
        margin-left: -4px;
        border-radius: 0px;
        text-align: center;
        border: solid #2D2D2D;
    }

    ::placeholder {
        font-size: 9px; 
      }
    
    .carrito-mobile{
        display: none;
    }
    .pago-mobile{
        display: none;
    }
}

/* Versión mobile */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 589px){

    .textSuperior{
        display: none;
    }

    .container1{
        display: none;
    }

    .carrito-mobile{
        background-color: #009688;
        height: 40px;
        width: 320px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        padding:10px;
        border: 1px #EDEDED;
        box-shadow: 0px 1px 5px 0px #2D2D2D;
    }

    .container2{
        display: none;
    }
    
    .black-bar-mobile{
        display: none;
    }
    .container3{
        width: 320px;
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 3px;
        border: 1px solid #EDEDED;
        box-shadow: 0px 1px 5px 0px #2D2D2D;
    }

    .container4{
       display: none;
    } 

    .pago-tablet{
        display: none;
    }
    .pago-mobile{
        display: flex;
        flex-direction: column;
        width: 320px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px; 
        padding-bottom: 18px;
        background-color: #EDEDED;
        border: 1px solid #EDEDED;
        box-shadow: 0px 1px 5px 0px #2D2D2D;
    }
    
    .cupon-mobile{
        padding-left: 15%;
        margin-top: 10px;
        padding-bottom: 40px;
    }

    .input-mobile{
        font-size: 10px;
        padding: 5px;
        text-align: center;
        border-color: #2D2D2D;
        border-radius: 4px 0px 0px 4px;
    }

    ::placeholder {
        font-size: 9px;
      }
    
    .btn2-mobile{
        background-color: #2D2D2D; /* color de fondo del botón. */
        color: #FAFAFA; /* color del texto en código hexadecimal */
        text-decoration: none; /* para quitarle el estilo de enlace, como el subrayado */
        font-family: Roboto, sans-serif; /* Tipo de fuente */
        font-weight: 100px; /* para darle cuerpo (tipo negrita) al texto del botón. */
        font-size: 10px;
        padding: 5px;
        border-color: #2D2D2D;
        border-radius: 0px 4px 4px 0px;
        margin-left: -4px;
    }
    
    .btn2:hover{
        background-color: #111111;
    }

    .pago-mobile p{
        text-align: center;
        font-family: Roboto,sans-serif;
        margin-top: -25px;
        font-size: 12px;
    }

    .btn-mobile{
        background-color: #2D2D2D; /* color de fondo del botón. */
        color: #FAFAFA; /* color del texto en código hexadecimal */
        padding: 10px;  /* el relleno */
        border-radius: 15px; /* redondeo del botón. */
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        font-size: 10px; /* el tamaño del texto en pixeles. */
        font-weight: 100px;
        text-decoration: none;
    }

    .flex-mobile{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
}