@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


/* Prosición del texto superior */
.textSuperior{
    margin-left: 10px;
    margin-top: 5px;
}
/* Estilo del texto superior */
.textSuperior a{
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 200px;
    color: var(--color-black2);
}

/* Configuración del contenedor padre */
.container-text{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}
/* Configuración del texto 1 */
.container-text1{
    width: 300px;
    height: 40px;
    align-self: center;  
    background-color: #009688;
    border: 1px solid var(--color-white-gray);
    border-color: var(--fine-border-especial);
    box-shadow: 0px 0px 1px;
}
/* Configuración del texto 2 */
.container-text2{
    width: 300px;
    height: 40px;
    align-self: center;
background-color: #009688a8;
border: 1px solid var(--color-white-gray);
    border-color: var(--fine-border);
    box-shadow: 0px 0px 1px;
}
/* Configuración del texto 3 */
.container-text3{
    width: 300px;
    height: 40px;
    align-self: center;
background-color: #009688a8;
border: 1px solid var(--color-white-gray);
    border-color: var(--fine-border);
    box-shadow: 0px 0px 1px;
}
/* Estilos para las fuentes de los contenedores */
.container-text p{
    color: white;
    font-family: Roboto,sans-serif;
    font-weight:500;
    text-align: center;
    text-transform:uppercase;
    margin-top: 11px;
}
/* Contenedor padre del producto */
.box1 {
    background: var(--color-white1);
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: 900px;
    margin-top: 5px;
    border: 1px solid var(--color-white-gray);
    border-color: var(--fine-border1);
    box-shadow: 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Contenedor del producto y su información */
.product-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 14px;
}



.delet-product{
    cursor: pointer;
}


/* Configuración del contenedor creado para evitar rompimientos al modificar un texto */

.product-section{
    display: flex;
}

.product-name{
    width: 250px;
    align-self: center;
    margin-left: 30px;
}

/* Configuración de la imágen */

.product img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border-style:solid;
    border-width: 0px;
    border-color: var(--color-white-gray);
    box-shadow: 0px 0px 2px;
}
/* Estilo de la fuente en el contenedor de producto */
.product-container p,a{
    font-family: Roboto,sans-serif;
    text-decoration: none;
    color: var(--color-black-gray);
}

/* Configuración del sector venta por unidad */

.text-unit p{
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    margin-top: -44px;
}

/* Configuración del texto quitar y el icon-trash */

.delete-text p{
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    margin-top: -44px;
    margin-left: -18px;
}

/* Configuración del sector garantía */

.garantia {
    width: 200px;
}

.extend-warranty p{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 4px;
   
}

/* .garantia label{
    margin-top: 4px;
} */

.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.radio__input {
    display: none;
}

.radio__radio {
    width: 1em;
    height: 1em;
    border: 2px solid #d8e4e2;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}

.radio__radio::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: #35529C;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s;
}

.radio__input:checked  +  .radio__radio::after {
    transform: scale(1);
}

/* --------------------------------------------------- */

/* Configuración del sector garantía 2 (Del contenedor de muestra)*/

.garantia2 {
    width: 200px;
}

.extend-warranty p{
    text-transform: uppercase;
    font-size: 14px;
    
    margin-top: 4px;
}

.garantia2 label{
    margin-top: 4px;
}

.radio-1 {
    display: inline-flex;
    
    cursor: pointer;
    font-size: 16px;
}

.radio__input {
    display: none;
}

.radio__radio {
    width: 1em;
    height: 1em;
    border: 2px solid #d8e4e2;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}

.radio__radio::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: #35529C;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s;
}

.radio__input:checked  +  .radio__radio::after {
    transform: scale(1);
}

/* --------------------------------------------------- */

/* Contenedor padre del total a pagar */
.total-pay{
    display: flex;
    background: var(--color-white-gray);
    height: 90px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--color-white-gray);
    border-color: var(--fine-border1);
    box-shadow: 0px 0px 1px;
    margin-top: 5px;
}
/* Estilos de la fuente en el total-pay */
.total-pay a,p,button{
    font-family: Roboto,sans-serif;
    text-decoration: none;
    color: var(--color-black-gray);
}
/* Configuración y estilos de los btn */
.btn{
    padding: 10px;
    border-radius: 10px;
}
/* Estilo Hover para el btn */


.btn:active{
    text-decoration: none;
}

/* Configuración para la caja del código cupón */
.input-style-d{
    padding: 10px;
    text-align: center;
    border: 1px solid var(--color-black1);
    border-radius: 4px 0px 0px 4px;
}
::placeholder {
    font-size: 12px;
  }
/* Configuración y estilos de los btn2 */
.btn2{
    background: var(--color-black2);
    color: var(--color-white-gray);
    padding: 10px;
    padding-top: 10px;
    margin-left: -6px;
    z-index: 1;
    border: 1px solid var(--color-black1);
    border-radius: 0px 4px 4px 0px;
}
.btn2:hover{
    background-color: var(--color-black1);
}
.btn2:active{
    background: var(--color-black2);
}

/* Versión All-Desktop */
@media only screen and (min-width: 1011px){
    
    .delet-product-t{
        display: none;
    }

    .btn-t{
        display: none;
    }

    .total-pay-t{
        display: none;
    }

    .container-mobile{
        display: none;
    }

    .pago-mobile{
        display: none;
    }

    .container-text{
        width: 1110;
    }


}

/* Versión Tablet */
@media only screen and (min-width: 576px) and (max-width: 1010px){

/* Prescindiendo de ciertos elementos para la versión Tablet */

.delet-product{
    display: none;
    }

.add-product-fav{
    display: none;
    }

.text-unit{
    display: none;
}

.delete-text{
    display: none;
}

.total-pay{
    display: none;
    }

.container-mobile{
    display: none;
    }

.pago-mobile{
    display: none;
    }

.garantia{
    display: none;
}

.garantia2{
    display: none;
}

/* ---------------------------------------------------------- */

/* Configuración del contenedor padre */
.container-text{
    margin-top: 30px;
    width: 588;
    }
/* Configuración del texto 1 */
.container-text1{
    width: 196px;
    height: 40px;
    }
/* Configuración del texto 2 */
.container-text2{
    width: 196px;
    height: 40px;
    }
/* Configuración del texto 3 */
.container-text3{
    width: 196px;
    height: 40px;
    }
/* Estilos para las fuentes de los contenedores */
.container-text p{
    font-size: small;
    }
/* Contenedor padre del producto */
.box1{
    width: 588px;
    height: 100px;
    }

/* Estilo de la fuente en el contenedor de producto */
.product-container p{
    font-size: 14px;
    }

/* Total a pagar de la versión Tablet */
.total-pay-t{
    display: flex;
    flex-direction: column;
    background:var(--color-white-gray);
    height: 90px;
    width: 588px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--color-white-gray);
    border-color: var(--fine-border1);
    box-shadow: 0px 0px 1px;
    margin-top: 5px;
    }

/* Estilo de la fuente de las etiquetas a del total pay */
.total-pay-t a{
    font-size: 11px;
    }

/* Disponiendo los elementos del grupo1 */
.grupo1-t{
    display: flex;
    justify-content: space-between;
    }

.flex1{
    position: absolute;
    margin-left: -270px;
}

.flex2{
    position: absolute;
    margin-left: 185px;
}

/* Disponiendo la posición de los elementos del grupo2 */
.grupo2-t{
    display:flex;
    align-items: center;
    }

/* Posicionando elementos */
.total-price-t{
    margin-left: 160px;
    }

/* Estilos de la fuente en el total-pay */
.total-pay-t a,p,button{
    font-family: Roboto,sans-serif;
    text-decoration: none;
    color: var(--color-black-gray);
    }

/* Configuración y estilos de los btn */
.btn-t{
    padding: 7px;
    border-radius: 10px;
    color: var(--color-white1);
    font-family: Roboto,sans-serif;
    }

.total-pay-t a{
    text-decoration-color: var(--color-gray2);
}

.btn-t:active{
    background: var(--color-especial2);
    color: var(--color-white1);
    text-decoration: none;
    }

/* Configuración para la caja del código cupón */
.input-style-t{
    font-size: 10px;
    padding: 5px;
    text-align: center;
    border: 1px solid var(--color-black1);
    border-radius: 4px 0px 0px 4px;
    }

::placeholder {
    font-size: 9px;
    }

/* Configuración y estilos de los btn2 */
.btn2-t{
    background: var(--color-black2);
    color: var(--color-white-gray);
    font-size: 10px;
    padding: 5px;
    margin-left: -6px;
    z-index: 1;
    border: 1px solid var(--color-black1);
    border-radius: 0px 4px 4px 0px;
    }

.btn2-t:active{
    background: var(--color-black2);
    }
}

/* /* Versión Mobile */
@media only screen and (max-width: 575px){

/* Prescindiendo de ciertos elementos para la versión Mobile */
.delet-product{
    display: none;
    }

.add-product-fav{
    display: none;
    }

.total-pay {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
}
.total-pay-t{
    display:none;
}

.container-text2{
    display: none;
}

.container-text3{
    display: none;
}
.product-container {
    display: flex;
    width: 300px;
    align-items: center;
    margin-top: 14px;
    flex-direction: column;
border: 1px solid #b5b2b2;
}
.box1 {
    box-shadow: 0px 0px 0px;
    margin-top: 12px;
}

.product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-text1 {
    width: 300px;
    height: 40px;
    align-self: center;
    background-color: #009688;
    border: 1px solid var(--color-white-gray);
    border-color: var(--fine-border-especial);
    box-shadow: 0px 0px 1px;
    margin-bottom: 29px;
}


/* Contenedor del texto "CARRITO" */

.container-text{
    margin-left: auto;
    margin-right: auto;
    width: 320px;

}

/* SECCIÓN DEL CONTENEDOR DE LOS PRODUCTOS */

/* Configuración del contenedor de los productos versión mobile */  
.container-mobile{
    flex-direction: column;
    background: var(--color-white1);
    width: 320px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 1px solid var(--color-white-gray);
    border-color: var(--fine-border1);
    box-shadow: 0px 0px 1px;
}

/* Configuración de la imágen del producto */
.img-mobile img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border-style:solid;
    border-width: 0px;
    border-color: var(--fine-border1);
    box-shadow: 0px 0px 2px;
    }
.img-mobile img{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    }

/* Disposición del nombre del producto */
.info-mobile{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    }
/* Disposición de los elementos dentro de content mobile */
.content-mobile{
    display: flex;
    justify-content:space-evenly;
    margin-top: 15px;
    }

/* SECCIÓN DEL PAGO VERSIÓN MOBILE */

/* Configuración de los estilos del contenedor pago-mobile */
.pago-mobile{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px; 
    padding-bottom: 18px;
    }
.pago-mobile{
    background: var(--color-white-gray);
    border: 1px solid var(--color-white-gray);
    border-color: var(--fine-border1);
    box-shadow: 0px 0px 1px;
    }

/* Configuración de la sección código de descuento */
.cupon-mobile{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 40px;
    }
.input-mobile{
    font-size: 10px;
    padding: 5px;
    text-align: center;
    border-color: var(--color-black-gray);
    border-radius: 4px 0px 0px 4px;
    }

::placeholder {
    font-size: 9px;
  }

/* Configuración del btn2-mobile */
.btn2-mobile{
    background-color: var(--color-black1); /* color de fondo del botón. */
    padding: 5px;
    z-index: 1;
    border: 1px solid var(--color-black1);
    border-radius: 0px 4px 4px 0px;
    margin-left: -4px;
    }
.btn2-mobile{
    color: var(--color-white1); 
    text-decoration: none; 
    font-family: Roboto, sans-serif;
    font-weight: 100px; 
    font-size: 10px;
    }
.btn2-mobile:active{
    background: var(--color-black-gray);
    }

/* Configuración del texto total a pagar */
/* .pago-mobile p,a{
    text-align: center;
    font-family: Roboto,sans-serif;
    margin-top: -25px;
    font-size: 11px; 
    font-weight: 100px;
    text-decoration: none;
    } */


/* Configuración del btn-mobile */
.btn-mobile{
    background:var(--color-black1);
    color: var(--color-white1); 
    padding: 10px; 
    border-radius: 15px;  
    }

.btn-mobile:active{
    background: var(--color-black-gray);
    }

.flex-mobile{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    }
}

/* Versión "Mini Mobile" */
@media only screen and (max-width:319px){

/* Contenedor del texto "CARRITO" */
.container-text{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.container-mobile{
    width: 300px;
    height: 150px;
    }    

.pago-mobile{
    width: 300px;
    }

}

/* Contenedor vacío para generar espacio entre el main y el footer */
.espacio-vacio{
    height: 40px;
    width: 100%;
}

.units {
    margin: 30px;
}
.containercarrito {
    display: flex;
    min-height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerproductcarrito{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}