.carrousel{
    width: 100%;
    overflow: hidden;
    height: 100%;
}



.carrousel .grande {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    transition: all .5s ease;
    transform: translateX(-50%);
    z-index: 0;
}

.carrousel .img{
    width: 100%;

}

.carrousel .puntos{
    width: 100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: 50px;
    z-index: 99;
}


.carrousel .punto{
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 50px;
    list-style: none;
    margin-bottom: 20px;
    margin-left: 40px;
    cursor: pointer;
    border: 1px solid rgba(146, 144, 144, 0.466);
}

.carrousel .punto.activo{
    background-color: rgba(255, 174, 0, 0.959);
    border: 2px solid rgba(255, 174, 0, 0.959);;
    transition: 0.2s all;

}