.edit {
    margin: 0;
    padding: 0;
    width: 60%;
    position: relative;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.h3editprod {
    text-align: center;
}

.produ-titulo {
    color: #0b16b3;
}

.editprod {
    position: relative;
    margin-left: 10px;
    
}

.formproduct {
    background-color: #E2E2E2;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    z-index: 90;
}

.formproduct .edit{
    border:1px solid rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    width: 40rem;
    height: 3rem;
    margin: 12px;
}

.formproduct .text {
    border:1px solid rgba(0, 0, 0, 0.37);
     width: 40rem;
     height: 10rem;
     border-radius: 10px;
     margin: 12px;
}

.select #category {
    background-color: white;
    border:1px solid rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    width: 40rem;
    height: 3rem;
}

.formproduct .but {
    background-color: #0b16b3;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    color:white;
    margin-top: 12px;
    border:none;
    cursor: pointer;
}

/* Input file */

.textoo {
    text-align: center;
    color: white;
}

.div-file {
    position: relative;
    padding: 10px;
    width: 200px;
    height: 50px;
    background-color: #0b16b3;
    border-radius: 10px;
    margin-bottom: 5px;
}

.file {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

input:invalid {
    animation: shake 300ms;
}
@keyframes shake {
    25% { transform: translateX(4px); }
    50% { transform: translateX(-4px); }
    75% { transform: translateX(4px); }
     }
