@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:ital,wght@0,100;0,300;0,500;1,200&family=Roboto:wght@300&family=Work+Sans:wght@100;300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Scroll */

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-thumb {
    background: rgb(223, 216, 216);
    border-radius: 50px;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden; /* Hide scrollbars */
    }

.burguermenu {
       display: none;
       cursor: pointer;
 }

 #checkHambur{
    display: none;
 }
 #checkHambur:checked ~ .hamburMenuOri {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
}

 .headermobile label {
     display: block;
 }


 .headermobile{
     display: none;
 }
 .headermobile label:hover {
     cursor: pointer;
 }
 nav.hamburMenuOri {
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 7%);
    -webkit-box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 5%);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.07);
}
 
 .hamburMenuOri {
     position: absolute;
     width: 25%;
     background-color: #f6f6f6;
     margin-left: -70%;
     transition: all .5s;
     top: 10%;
     z-index: 999999;
 }

 .hamburMenuOri ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

 .hamburMenuOri li a {
     display: block;
     padding-bottom: 10px;
     margin-left: 20px
 }
 .menuburguerregister {
    height: 50px;
    background-color: white;
    color: dimgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
 
/*.cerrarEquis {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#cerrarHambur:checked ~ .burguermenu {
    visibility: visible;
} */




.headercontainer {
    width: 100%;
    height: 130px;
    background-color: #E2E2E2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #adadad;
}

.logomain img {
    width: 70px;
    height: 70px;
    
}


.headernav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.headernav i{
   background-color: red;
}

 /* CARRITO MOBILE */

 .carritoversmobile {
    display:none; 
 }



/* Search */


.headercontainer .buscar input {
    border:1px solid rgb(51 160 175);
    border-right:none;
    outline: none;
    background: #fff;
    padding: 0 15px;
    font-size: 16px;
    width: 500px;
    height: 40px;
    
}

.headercontainer .buscar svg {
    color: rgb(82, 80, 80);
    font-size: 24px;
    background: #ffffff;
    height: 45px;
    padding: 3px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    border: 1px solid hsl(0, 7%, 81%);
    opacity: 80%;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


svg.svg-inline--fa.fa-search.fa-w-16 {
    background-color: rgb(10, 10, 190);
    color: white;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid hsl(237deg 88% 42%);
}


.btnsearchcontainer {
    display: flex;
}

.headercontainer .buscar button {
    border:none;
}

.buscar {
    display: flex;
    align-items: center;
;
}


.buscar svg:hover {
    color:rgb(44, 23, 231);
    transition: 0.5s;
    opacity: none;
}

.buscarMobile {
    display: flex;
    height: 15px;
}
.buscarMobile input {
    width: 100%;
    background-color: #eeeeee;
    border: 1px solid #afafaf;
}

.buscarMobile button {
    color: white;
    background-color: #700184;
    width: 50px;
}

input[type="search"]::placeholder {
    padding: 15px;
}

.headernav svg {
    width: 35px;
    position: relative;
    bottom: 23px;
    left: 30px;
    opacity: 70%;
}


header .buscar {
    display: flex;
    height:35px;
    line-height:35px;
    margin-top: 30px;
}

header .buscar input {
    border:1px solid rgb(51 160 175);
    border-right:none;
    outline: none;
    background: #fff;
    padding: 0 15px;
    font-size: 16px;
    width: 700px;
    height: 100%;
    border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
}

header .buscar input::placeholder{
    font-size: 13px;
}

header .buscar i {
    background-color: rgb(51 160 175);
    color: white;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px
 solid rgb(51 160 175);
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;

}

form {
    display: flex;
    margin-top:-25px;
}

/* Botones laterales */

.imgusuario {
        width: 23px;
        position: relative;
        left: -29px;
        bottom: -20px;
        opacity: 80%;
    
}

.ulusuario{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding:1.5 1rem;
    cursor:pointer;
    list-style: none;

}

.liusuario{
    display: flex;
    flex-direction: column;
}


.dropdown-menu .liusuario{
display: none;
position:absolute;
background-color: rgb(115, 114, 116);
z-index: 1;
color: white;
}

.liusuario:hover{
    display: block;
}


.ulusuario li a{
    color:white;
}




.carritoyfav {
    width: 22px;
    opacity: 70%;
    position: relative;
    top:20px;
}

.carritoyfavv{
    margin-left: 10px;
    width: 20px;
    opacity: 65%;
    position: relative;
    top:22px;

}

.licontainer {
    display: flex;
}



.headernav a {
    color: rgb(58 58 58);
    text-decoration: none;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: relative;
    font-size: 15px;

}

.headernav ul {
         margin: 10px; 
        display: flex;
        align-content: space-around;
        justify-content: space-around;
        flex-direction: row;
        align-items: baseline;}

li{
    margin-left: 10px;
}

.liusuario {
    border-right: 1px solid rgb(160, 160, 160);
}




/* Media queries : DESKTOP */

/* Las pantallas que tengan 992px o menos */

@media screen and (max-width: 992px) {
  

    .headercontainer .buscar input{
        width: 350px;
    }

    .imgusuario img {
        width: 17px;
    }

    
  }

/* Las pantallas que tengan 700px o menos */
  
@media screen and (max-width: 847px) {
  

    .headercontainer .buscar input{
        width: 300px;
    }

    .headernav a {
        font-size:12px
    }

    .imgusuario img {
        width: 17px;
    }

    .carritoyfav  {
        width: 17px;
    }

    
  }


  /* Media queries : TABLET 768PX */


@media screen and (max-width: 769px) {

    .searchresulth2{
        font-size: 14px;
    }

    .boxarearightbtn{
        font-size: 13px;
    }
    .boxarea{
        flex-direction: column;
    }

    .boxarea1{
        flex-direction: column;
    }

    .containersectionperfil {
       flex-direction: column;
    }

    .brderimgcarousel {
        border-radius: 3px;
        margin: 5px;
        width: 226px;
        height: 200px;
    }

    .headercontainer{
        display: none;
    }
  
    .headermobile{
        display: flex;
        height: 78px;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }


    .logomain img {
        width:55px;
        height:55px;
        margin: 10px;
    }

    .burguermenu{
        display: block;
        font-size: 27px;
        color: #121212;
    }

    .carritoversmobile{
        display: block;
    }

    .col-2 {
        padding:0;
        border: none;
    }


    
  }


  /* Media queries : PHONE */





.hovercuenta {
    background-color: white;
    height: 100px;
    position: absolute;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.07);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.07);
    z-index: 9999;
    display: none;
  }

  .hovercuenta li{
      display: flex;
  }

  .hovercuenta a:hover{
      color:rgb(4, 0, 255);
  }

  
.headernav .licontainer .menu-button:hover .hovercuenta {
    display: block;
}
 

  

 