/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');




body {
    overflow-x: hidden; /* Hide scrollbars */
  }


/* HEADER DESKTOP */
header { 
    width: 100%;
    height: 110px;
    background-color: #E2E2E2;
    display: flex;
    position: relative;
    justify-content: space-around;
    text-align: center;
    border: 1px solid #BBAFAF;
    border-right:none;
}


header .headernav {
    display:flex;
   padding:12px;
   
}

header .iconcarrito {
    width: 26px;
    position:relative;
    bottom:13px;
    left:27px;
    opacity:70%;
}

header .iconcuenta {
    width: 26px;
    position:relative;
    bottom:15px;
    left:37px;
    opacity:70%
   
}


header .iconfav {
    width: 26px;
    position:relative;
    bottom:15px;
    left:34px;
    opacity: 60%;
}


.logo {
    width: 80px;
    position: relative;
    top:10px;
}

header ul {
    display: flex;
    list-style: none;
    margin: auto 0;
    list-style: none;
    z-index: 1;
}

header ul li {
    margin: 0 3px;
    position: relative;
    top:5px;
   
}

header ul li a {
    color:grey;
    font-size: 11px;
    text-decoration: none;
    

}

header ul li:hover a{
    color:rgb(53, 53, 53)
}

header .buscar {
    display: flex;
    margin: auto 0;
    height:35px;
    line-height:35px;
}

header .buscar input {
    border:1px solid hsl(0, 7%, 81%);
    border-right:none;
    outline: none;
    background: #fff;
    padding: 0 15px;
    font-size: 16px;
    width: 700px;
    height: 100%;
}

header .buscar i {
    color:rgb(109, 109, 109);
    font-size:20px;
    background:#ffffff;
    height: 100%;
    padding:8px;
    position:relative;
    cursor:pointer;
    z-index:1; 
    border:1px solid hsl(0, 7%, 81%);
    opacity:80%;
    border-left:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;


}

header .buscar i:hover {
    color:#fff;
}

header .buscar i::after{
    height: 100%;
    width: 0%;
    content: '';
    background: #f04603;
    position:absolute;
    top:0;
    right:0;
    z-index: -1;
    transition:0.3s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    

} 

header .buscar i:hover::after{
    width: 100%;
   

}

header .bar {
    display:none;
}

header .bar {
    position: relative;
    margin:auto;



}

header .btnavmobile {
    display: flex;
    
}

header .bar span {
    position:absolute;
    color:rgb(163, 51, 51);
    font-size:35px;
}

input[type=checkbox]{
    -webkit-appearance: none;
    display:none;
}








/* NAV---------------------------------------------*/

nav {
    display:flex;
    background-color: #E2E2E2;
    justify-content: space-around;
    width: 100%;
    border-top:none;
    border-color: #CEC8C8;
    border-bottom:1px solid #CEC8C8;
    padding:0 15px;
    height: 50px;
    cursor: pointer;
    user-select: none;
}


nav ul {
    display:flex;
    list-style:none;
    line-height:30px;
    border:10px;
}

nav ul li {
    display:inline-block;
    padding: 10px 25px;
    color:black;
    font-size:16px;
  
    
}
nav ul li i {
    color:rgb(71, 71, 71);
    margin-left: 7px;
    font-size: 22px;
    position: relative;
    top: 4px;


}

nav ul li i:hover {
    color:rgb(255, 166, 0);
}

nav ul li:hover{
    background-color: white;
    color:rgb(255, 166, 0);

}



/* FOOTER ---------------------------------------------------------------------------------*/
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');



* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.footerlinealtop {
    font-family: 'Lato', sans-serif;
    background-color: #EEEEEE;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
}


.footerlinealtop span {
    color: black;
    max-width: 270px;
        font-size: 13px;
        line-height: 17px;
        margin: 0 15px;
        opacity: .8;
    
}


.footerlinealtop img {
    width: 40px;
    height: 40px;

}


.newsletter span {
    margin-top: 15px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.newsletter {
    display: flex;
}




.footercentral {
    width: 100%;
    height: 160px;
    background: rgb(58,63,180);
background: linear-gradient(90deg, rgba(58,63,180,1) 0%, rgba(29,133,253,1) 50%, rgba(69,80,252,1) 100%);
}



.footercentral {
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}


.footercentral h3 {
    color: rgba(184, 184, 184, 0.562);
}


.footercolumna3Row ul li{
    list-style: none;
    color: white;
    font-weight: 300;
    margin:5px;
    cursor:pointer;

}


.footercolumna3Row ul li:hover {
    text-decoration: underline;
}



.emailsub .inputemail{
            padding:9px;
                    height: 40px;
                    border-radius: 5px;
                    border:1px solid grey;
    }

.emailsub .confirmaremail {
background-color: rgb(124, 27, 189);
height: 40px;
border-radius: 5px;
color:#FBFFFF;
font-size: 14px;
font-family: 'Lato';
border:1px solid #AAAAAA;
padding:0px 14px;
margin-left: 2px;
cursor:pointer;
}


.emailsub .confirmaremail:hover {
    background-color: rgb(106, 20, 163);
    transition: 0.5s;
}




.contenedorventatelefonica {
    display: flex;
flex-direction: column;
align-items: flex-end;
}

.contenedorventatelefonica .bRED{
    color:rgb(204, 204, 204);
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    } 
    
     .contenedorventatelefonica .numerotel {
        color: rgb(253, 253, 253);
        font-weight: bold;
    
    }

    .contenedorclietne {
        color:white
    }


    @media screen and (max-width:1056px) {


        
              .emailsub {
                  display: flex;

                }

                
                .emailsub .inputemail {
                    height: 40px;
                    border-radius: 5px;
                    border:1px solid grey;
                }


                
                .social {
                    display: flex;
                    cursor:pointer;
                    flex-wrap: wrap;
                }

    }
    
       

/* NAV RESPONSIVE ------------------------*/






/*HEADER RESPONSIVE----------------------*/


@media screen and (max-width: 576px) /*De este ancho para abajo se va a ver asi:*/ {
    

    

    .footertop .contenedorventatelefonica {
        margin:15px;
        text-align: center;
    }

    
    .footertop .emailsub {
        text-align: center;
        margin-top:10px; 
    }

    
    .footertop .social a{
        padding: 0px 10px;
    }



    .footertop {
        
            background-color: #ffffff;
            display: flex;
            justify-content: space-evenly;
            padding: 15px;
            bottom: 0;
            width: 100vp;
            border: 1px solid #AAAAAA;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            align-items: center;
    }

    .button-group {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
}


@media screen and (max-width: 577) /*De este ancho para abajo se va a ver asi:*/ {

   
    header {
        width: 100%;
    }


    }
/*  Por alguna extraña razon, al aplicar este media screen el header deja de romperse, volviendose totalmente responsive. */
    @media screen and (min-width: 1336) {

    } 
        
    }




 @media screen and (max-width: 1250px) /*De este ancho para abajo se va a ver asi:*/ {
      
        nav {
        display:none;
    }

    header {
        display:block;
        padding:0;
    }

    header .logo {
        display:inline-block;
        padding: 15px 14px;
       width: 100px;
       position:relative;
       left: -4px;

    }
    
    header .buscar {
        width: 80%;
        display:inline-flex;
        justify-content:center;
        margin-bottom:15px;
    }

    header .buscar input {
        width:80%;
  }
  header ul {
            display:flex;
            width: 100%;
            flex-direction: column;
            background: rgb(19, 54, 255);
            height:0;
            visibility: hidden;
            transition: 0.3s;
            
        }
    
        header ul li a {
            color:rgb(255, 255, 255);
            font-size:20px;
            padding:25px;
            display:block;
            text-align: center;
        }
        header ul li a:hover {
            background-color: #fff;
            color:rgb(19, 54, 255);
        }

        header .bar {
            display:block;
            position:absolute;
            top:70px;
            right:80px;
            cursor:pointer;

        }

        header .bar span {
            color:rgb(80, 77, 77);
           font-weight: bold; 
           width: 40px;
           height:40px;
        
        }

        header .bar #times{
            display:none;
        }

        #check:checked ~ header .bar #times {
            display:block;
        }

        #check:checked ~ header .bar #bars {
            display:none;
        }

        #check:checked ~ header ul {
            visibility: visible;
            height:465px;
        }

        footer{
            background-color: #EDEDED;
            height: 100%;
            width:100%;
            
        }


        .iconcarrito {
            position: relative;
            display: flex;
            flex-direction: column;
            top:23px;
        }

    

        .iconfav {
            position: relative;
            display: flex;
            flex-direction: column;
            top:23px;
            left:40px;  
        }
        .iconcuenta {
           position: relative;
            display: flex;
            flex-direction: column;
            top:23px;
            left:40px;

        }
        header {
            height: 180px;
        }




    } /*END RESPONSIVE*/ 
  



    /*SCROLL*/

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-thumb {
    background: rgb(223, 216, 216);
    border-radius: 50px;
}