/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

 
  
 /* PRODUCT CARDS --------------------------------------------*/

 .section{
     width: 100%;
     min-height: 100vh;
     background-color:#eee;
 }

 .cards{
     width: 100%;
     display:flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin:auto;
 }

 .cards .new-arrival{
     width: 100%;
     margin-top:20px;
 }
 .cards .new-arrival h3{
     text-align: center;
     font-size:34px;
     color:#222;
     font-weight:700;
     letter-spacing: 1px;
 }

 .cards .new-arrival span {
     color:rgb(4, 0, 255);
 }

 .cards .new-arrival h1:after{
     content: "";
     height: 5px;
     width: 325px;
     background-color: #222;
     border-radius:5px;
     display:block;
     margin:auto;
 }

 .card{
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction:column;
     box-shadow: 0px 2px 4px rgb(0, 0, 0,25%);
     width: 325px;
     text-align: center;
     margin:25px;
     cursor:pointer;
     background-color: #fff;
 }

 .image-section{
     width: 100%;
     height:400px;
     display:flex;
     justify-content: center;
     align-items: center;
 }

 .image-section img {
     width: 100%;
     height: 100%;
     object-fit:cover;
 }

 .description{
     text-align: center;
 }
 .description h1{
     font-size:20px;
     text-transform: uppercase;
     color:#222;
     margin-bottom: 15px;
 }

 .description span {
     font-size:21px;
     letter-spacing: 1.5px;
     margin-top: 8px;
     margin-left: 8px;
     font-weight: 700;
     font-family: 'Roboto';
 }

 .card .cuotas {
    color: rgb(19, 54, 255);
    font-size: 19px;
    margin-top:7px;
    font-family: 'Roboto';
 }

 .button-group{
     margin-top:30px;
 }

 .button-group .buy{
     background-color:#000000;
     font-size: 14px;
     padding: 8px 20px;
     border-radius:5px;
     text-decoration: none;
     letter-spacing: 1px;
     color:#fff
 }

 .button-group .buy:hover{
     background-color: rgb(0, 0, 0);
     transition: 0.6s ease;
 }

 .button-group .cart {
     background-color:none;
     font-size:14px;
     padding:8px 28px;
     border-radius:5px;
     border: 1px solid black;
     text-decoration:none;
     letter-spacing:1px;
     color:rgb(0, 0, 0);
     font-weight: 510;
 }

 .button-group .cart:hover{
    background-color: rgb(2, 12, 150);
    transition: 0.3s ease;
    color:#fff;
}

.fav i{
   font-size: 25px;
   position: relative;
   bottom: 140px;
   left: 130px;
}

.fav i:hover{
    color: rgb(219, 2, 2);
}

.carrousel img{
    width: 100%;
}
