/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 
  
 /* PRODUCT CARDS --------------------------------------------*/

 .section{
     width: 100%;
     min-height: 40vh;
     background-color:#eee;
 }

 .cards{
     width: 100%;
     display:flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }

 .cards .new-arrival{
     width: 100%;
     margin-top:20px;
 }
 .cards .new-arrival h3{
     text-align: center;
     font-size:25px;
     color:#323232;
     font-weight:700;
     letter-spacing: 1px;
 }

 .cards .new-arrival span {
     color:rgb(4, 0, 255);
 }



li.menu-button {
    list-style: none;
     }

 .cards .new-arrival h1:after{
     content: "";
     height: 5px;
     width: 325px;
     background-color: #222;
     border-radius:5px;
     display:block;
     margin:auto;
 }

 .card{
    display:flex  !important;
    justify-content: center !important;
    flex-direction:column !important;
    box-shadow: 0px 2px 4px rgb(0, 0, 0,25%) !important;
    width: 275px !important;
    text-align: center !important;
    margin:25px !important;
    cursor:pointer !important;
    background-color: #fff !important; 
    height: 510px !important;
}

 .cardSlider{
     display:flex  !important;
     justify-content: center !important;
     align-items: center !important;
     flex-direction:column !important;
     box-shadow: 0px 2px 4px rgb(0, 0, 0,25%) !important;
     width: 275px !important;
     text-align: center !important;
     margin:25px !important;
     cursor:pointer !important;
     background-color: #fff !important; 
     height: 380px !important;
     user-select: none;
 }

 .card:hover{
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.66);
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.66);
    transition: 0.2s all; 
      }

 .image-section{
     width: 100%;
     display:flex;
     justify-content: center;
     align-items: center;
 }

 .image-section img {
     width: 100%;
     height: 100%;
     object-fit:contain;
     border-bottom:1px solid rgba(104, 104, 104, 0.5);
 }

 .description{
     text-align: center;
 }

 .description h1{
     font-size:16px;
     text-transform: uppercase;
     color:#222;
     margin-bottom: 15px;
     margin-top: 15px;
     font-weight: 400;
     font-family: 'Poppins';
 }

.descriptionSlider h1 {
    font-size:12px;
    text-transform: uppercase;
    color:#222;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 400;
    font-family: 'Roboto';
}

 .description span {
     font-size:16px;
     letter-spacing: 1.5px;
     margin-top: 8px;
     margin-left: 8px;
     font-weight: 500;
     font-family: 'Lato';
 }

 .card .cuotas {
    color: rgb(19, 54, 255);
    font-size: 15px;
    margin-top:7px;
    font-family: 'Roboto';
 }

 .button-group{
     margin-top:30px;
 }

 .button-group .buy{
     background-color: #700184;
     font-size: 12px;
     padding: 8px 20px;
     border-radius:5px;
     text-decoration: none;
     letter-spacing: 1px;
     color:#fff;
     margin-bottom: 5px;
 }

 .button-group .buy:hover{
    transition: 0.6s ease; 
 }

 .button-group .cart {
     background-color:none;
     font-size:12px;
     padding:8px 28px;
     border-radius:5px;
     border: 1px solid #700184;
     text-decoration:none;
     letter-spacing:1px;
     color:#700184;
     font-weight: lighter;
 }

 .button-group .cart:hover{
    background-color: #700184;
    transition: 0.3s ease;
    color:#fff;
}

.fav i{
   font-size: 20px;
   position: relative;
   bottom: 450px;
   left: 110px;
   transition: 0.5ms;
   color:rgba(155, 153, 153, 0.411);
}

.fav i:hover{
    color: rgb(6, 2, 219);
}

.carrousel img{
    width: 100%;
}

@media screen and (max-width: 700px) /*De este ancho para abajo se va a ver asi:*/ {

    .description h1{
        font-size: 13px;
    }

    .button-group {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    

}

 /* Carrousel INICIO */

 .swiper1 {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* LINEA BAJO CAROUSEL */

.lineabajocarousel {
    width: 100%; 
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lineabajocarousel span {
    font-size: 13px;
}

.lineabajocarousel .col1linea .imgtrucklinea{
    width: 35px;
    height: 35px;
}

.lineabajocarousel .col1linea span {
    font-size: 13px;
    text-align: center;
    margin-left: 8px;
}

.lineabajocarousel .col1linea {
    display: flex;
    align-items: center;
}

.lineabajocarousel .col2linea a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.lineabajocarousel .col2linea .tarjetaslinea {
    width: 170px;
    height: 20px;
}

.lineabajocarousel .col3linea span {
    margin-left: 5px;
}

.lineabajocarousel .col3linea .envioslinea {
    width: 30px;
    height: 30px;
}

.col3linea {
    display: flex;
    align-items: center;
}

/* CATEGORIAS IMAGENES GAMING,COCINA RESPONSIVE */

.imgcategorias {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #eeeeee;
    justify-content: center ;
}

.imgcategorias img {
    margin: 10px;
    width: 540px;
}

@media screen and (max-width: 720px) /*De este ancho para abajo se va a ver asi:*/ {
        
        
    .imgcategorias img {
        width: 450px;
        margin: 10px;
    }

    .lineabajocarousel {

            font-size: 11px;
        }

        .lineabajocarousel .col3linea .envioslinea {
            width: 20px;
            height: 20px;
        }

       .col2linea {
            display: none;
        }

        .lineabajocarousel .col1linea .imgtrucklinea {
            width: 25px;
            height: 25px;
            margin-left: 3px;
        }
}

@media screen and (max-width: 496px) /*De este ancho para abajo se va a ver asi:*/ {
 
    .brderimgcarousel {
        border-radius: 3px;
        margin: 5px;
        width: 126px;
        height: 100px;
    }

    .imgcategorias img {
        width: 300px;
        margin: 10px;
    }

}


/* LINE BAJO CAROUSEL RESPONSIVE */


/* Swiper JS */
.swiper {
    width: 80%;
    height: 100%;
  }

.mySwiper1{
    width: 100%;
    height: 100%;
}
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #eeeeee;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.SectionTittle {
    background-color: #eeeeee;
    padding: 20px;
}

.SectionTittle h3 {
    color: black;
    font-size: 25px;
    font-family: 'Poppins';
    user-select: none;
}

.SectionTittle b {
    color: blue;
}

/* Cards de Slider */

.favSlider i {
    font-size: 20px;
    position: relative;
    bottom: 450px;
    left: 110px;
    transition: 0.5ms;
    color:rgba(155, 153, 153, 0.411);        
}

span.discountCard {
    background-color: #1a1ab3;
    color: white;
    padding: 2px;
    border-radius: 5px;
    font-size: 10px;
}

.cuotasSlider{
    font-size: 11px;
}

.sectionSwiper{
    background-color: #eeeeee;
}

.discountCardPrice {
    display: flex;
    justify-content: center;
}

.discountCardPrice .discountPrice{
    font-size: 11px;
    margin-right: 5px;  
    text-decoration: line-through;
    color: #878d8d;
}

.discountPricediv {
    display: flex;
    align-items: center;
}

a:hover{
    color:rgb(16, 16, 182);
}


/* Marcas home */

.contenedores-grid .titulo-marcas h3{
    font-size: 25px;
    text-decoration: solid;
    font-family: 'Poppins',sans-serif;
    color: #222;
    text-align: center;
}

.caja {
    width: 250px;
    height: 300px;
    margin: 15px; /* Separación entre cajas */
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: 0px 0px 1px 1px rgb(144 151 155 / 80%);
    overflow: hidden;
}

.caja .contenido-caja {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Encolumna el contenido */
    justify-content: center; /* Coloca en el centro el contendo que al ser en columna lo baja de arriba al centro */
    align-items: center; /* Alínea el contenido al centro desde la izquierda por estar en columna */
    background: rgba(0,0,0, .4); /* Fondo del contenido */
    opacity: 0; /* Opacidad a 0 para dar efecto "oculto" */
    transition: .3s;  /* Para el efecto de transición al pasar el mouse */
}
/* Color del texto */
.caja .contenido-caja h2,a{
    color:white;
}
.caja .contenido-caja a{
    color:white;
}
/* Estilo del enlace */
.caja .contenido-caja a {
    text-decoration: underline;
}
/* Efecto de oscurecimiento al mover el mouse */
.caja:hover .contenido-caja {
    opacity: 1;
}

/* Utilización de grid para acomodar cajas */
.grid-marcas{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: grid; /* activo la grilla */
    grid-template-columns: auto auto auto; /* Dispongo la cantidad de columnas */
    justify-content: center; /* Centro las columnas */
    grid-template-rows: auto;
}

/* Utilización de grid para encajar la última caja */
.grid-marcas2{
    width: 90%;
    margin: -25px auto;
    padding: 20px;
    display: grid; /* activo la grilla */
    grid-template-columns: auto auto auto; /* Dispongo la cantidad de columnas */
    justify-content: center; /* Centro las columnas */
    grid-template-rows: auto;
}

.caja-adaptable{
    width: 600px;
    height: 300px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: 0px 0px 1px 1px rgb(144 151 155 / 80%);
    overflow: hidden;
    margin: 10px 30px;
    justify-content: center;
}

.contenido-caja-adap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0, .4);
    opacity: 0;
    transition: .3s;
}

/* Color del texto */
.caja-adaptable .contenido-caja-adap h2,a{
    color:rgb(2, 2, 2);
}
.caja-adaptable .contenido-caja-adap a{
    color:white;
}
/* Estilo del enlace */
.caja-adaptable .contenido-caja-adap a {
    text-decoration: underline;
}
/* Efecto de oscurecimiento al mover el mouse */
.caja-adaptable:hover .contenido-caja-adap {
    opacity: 1;
}

@media screen and (max-width: 900px) {
    
    .grid-marcas{
        grid-template-columns: auto auto;
    }

    .caja-adaptable{
        width: 530px;
        height: 250px;
    }

}

@media screen and (max-width: 600px) {

    .grid-marcas{
        grid-template-columns: auto;
    }

    .caja-adaptable{
        width: 290px;
        height: 190px;
    }

}


.dellikeform{
    display: flex;
    margin-top: 0px;
}

/*ventana modal de ver promociones */

.modal-container{
    z-index: 9999; 
    position: fixed;
    width: 100%;
    height: 100vh;
   
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal{
    width: 80%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
   
} 

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: red;
    color: #eee;
    line-height: 25px;
    cursor: pointer;
    text-align: center;
    border-radius: 7px;
} 




