@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*cambie el tamaño de las letras*/



.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
}

.datos {
    display: flex;
    flex-direction: row-reverse; 
    margin-left: 30px;
}

 /*para separar la caja no tengo cuenta con olvide mi contraseña, le dio color a olvide mi contraseña*/
 span a.link {
     color: rgb(110, 108, 108);
    margin: 25px;
    }

/*para mover la caja de olvide mi contraseña*/
 .olvide{
    padding-top: 10px; 
}

.ingreso {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

/*para q no se vean los errores*/
.error {
    display: none;
}

/*el espacio entrer las cajas de email y contraseña*/
.form input{
    margin-bottom: 15px;
    width: 250px;
    height: 35px;
    padding-left: 10px;

/*para el recuadro branco*/
border: 1px solid grey;
border-radius: 5px;

}

/*para los botones naranja*/
span.cuenta button{
    display: inline-block;
    padding: 5px 5px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    transition: all 0.2s;
    width: 140px;
    font-weight: 5 00;
    background-color: rgb(4, 14, 151);
    font-family: Roboto, sans-serif;
    border: none;

}

  
span.cuenta button:hover{
    background-color:#1d1d1ce5;
    color:#fff;
}

@media all and (max-width:30em){
    span.cuenta button{
    display:block;
    margin:0.2em auto;
    }
}




/*HEADER RESPONSIVE----------------------*/



@media screen and (max-width: 769px) {
      

    

    nav {
        display:none;
    }

    header {
        display:block;
        padding:0;
    }

    header .logo {
        display:inline-block;
        padding: 15px 14px;
       width: 120px;
       position:relative;
       left: -4px;
    }
    
    header .buscar {
        width: 100%;
        display:inline-flex;
        justify-content:center;
        margin-bottom:15px;
    }

    header .buscar input {
        width:90%;
  }
  header ul {
            display:flex;
            width: 100%;
            flex-direction: column;
            background: rgb(19, 54, 255);
            height:0;
            visibility: hidden;
            transition: 0.3s;
            
        }
    


        header ul li a {
            color:rgb(255, 255, 255);
            font-size:20px;
            padding:25px;
            display:block;
            text-align: center;
        }
        header ul li a:hover {
            background-color: #fff;
            color:rgb(19, 54, 255);
        }

        header .bar {
            display:block;
            position:absolute;
            top:70px;
            right:80px;
            cursor:pointer;

        }

        header .bar span {
            color:rgb(255, 255, 255);
            background-color: rgb(2, 12, 150);
            padding:4px;
            border-radius: 5px;
           font-weight: bold; 
        }

        header .bar #times{
            display:none;
        }

        #check:checked ~ header .bar #times {
            display:block;
        }

        #check:checked ~ header .bar #bars {
            display:none;
        }

        #check:checked ~ header ul {
            visibility: visible;
            height:465px;
        }

        footer{
            background-color: #EDEDED;
            height: 100%;
            width:100%;
            
        }


        .iconcarrito {
            position: relative;
            display: flex;
            flex-direction: column;
            top:23px;
        }

    

        .iconfav {
            position: relative;
            display: flex;
            flex-direction: column;
            top:23px;
            left:40px;  
        }
        .iconcuenta {
           position: relative;
            display: flex;
            flex-direction: column;
            top:23px;
            left:40px;

        }
        header {
            height: 180px;
        }




    } /*END RESPONSIVE*/ 
