

*{
    
    box-sizing: border-box;
}

/*cambie el tamaño de las letras*/
body {

  width: 100%;
}

.tarjeta img{
    justify-content: flex-end;
    width: 350px;
    height: 250px;
}

header img{
    height: 200px;
}

.formularios {
    height: 250px;
    padding-bottom: 120px;
}

/*para q no se vean los errores*/
.error {
  color: red;
  font-size: 20px;
}

.ingresoDeTarjeta {
    text-align: center;
    font-size: 30px;
}

div.pagarPadre3 {
    display: flex;
    width: 1%;
    height: 1%;
}

span.pagar {
    height: 1%;
    width: .1%;
}

/*el espacio entrer las cajas y su forma*/
.form input{
    width: 120%;
    background: none;
    color: #706c6c;
    font-size: 25px;
    padding: .7em .7em;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
}

/*para el boton pagar*/
span.pagar button{
    background-color: black;
    color: white;
    font-size: 17px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    /* margin-left: 625px; */
}

div.tarjeta {
    height: 1%;
}
.datos {
    margin-top: 20px;
}

.padre {
    display: flex;
    margin: 100px;
    flex-wrap: wrap;
    padding-top: 60px;
    justify-content: space-around;
    height: 490px;
    width: 850px;
    border: solid 1px black;
    margin-left: 250px;
    margin-top: 100px;
}

/*elimina los puntos y el espacio q aparecen por defecto DENTRO DEL MENU*/
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*para poner el menu orizontal*/
li{
   float: left;
}

/*quitar el color de las etiquetas*/
#menu a{
   color: white;
   text-decoration: none;
   display: flex;
   padding: 10px 61px;
   margin-bottom: 350px;
   font-size: 18px;
}


/*para el rectangulo largo del menu*/
#menu{

     background-color: #52b788;
    display: flex;
    
    padding-top: 200px;
    margin-left: 320px;
    margin-bottom: 120px;
    align-items: center;
    width: 730px;
    height:27px;
}

