.tarjeta img{
    justify-content: flex-end;
}
/* cuidado con esto, rompe el header, lo modifique en el html pero no se como se ve en su vista */
/*
header img{
    height: 200px;
}
*/

.formularios {
    height: 250px;
    padding-bottom: 120px;
}


.ingresoDeTarjeta {
    text-align: center;
    font-size: 17px;
    padding-top: 30px;
}

div.pagarPadre3 {
    display: flex;
    padding: 20px;
 
}


/* el espacio entrer las cajas y su forma */
.formTarjeta input{
    background: none;
    display: flex;
    flex-wrap: wrap;
    color: #706c6c;
    font-size: 25px;
    padding: .7em .7em;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
}

/*para el boton pagar */
span.pagar button{
    background-color: black;
    color: white;
    font-size: 17px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    /* margin-bottom: 30px; */
}



.padreTarje {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 570px;
    align-items: center;
    flex-direction: column;
}

.containertarjetasform {
    display: flex;
}

.tarjeta {
    padding: 50px;
}

/* ventana pagar */

.modal-containerPagar{
    z-index: 9999; 
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-modal-closePagar{
    width: 55%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
   
} 

.closePagar{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: red;
    color: #eee;
    line-height: 25px;
    cursor: pointer;
    text-align: center;
    border-radius: 7px;
} 

