@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:ital,wght@0,100;0,300;0,500;1,200&family=Roboto:wght@300&family=Work+Sans:wght@100;300;700&display=swap');

.nav {
    width: 100vw;
    border-bottom: 1px solid #adadad;
    background-color: #E2E2E2;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nav__listitem {
list-style: none;
position:relative;
cursor:pointer;
padding: 1rem;
font-size: 15px;;
}

.nav__listitem:hover{
    color:blue;
}

.nav__listitem:hover ul {
    opacity: 1;
    visibility: visible;
}

.nav__listitem:focus ul{
    opacity: 1;
    visibility: visible;
}

.nav__listitem::after{
    content:"";
    width:0;
    height: 0.3rem;
    left:1rem;
    bottom:0.8rem;
    background-color:blue;
    transition: width 200ms ease-in
}

.nav__listitem::after, .nav__listitem:focus::after{
    width: 80%;
}


.nav__listitemdrop {
    position:absolute;
    top: 52px;  
    left:-1rem;
    border-radius: 5px;
    width: 12rem;
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
    border: 1px solid #b6b4b4;
    background-color: #ffffff;
    list-style: none;
    z-index: 10;

}


.nav__listitemdropdiv:hover{
    color:white;
    background-color: blue;
}


.lidrop:hover{
    background-color: #0613ca;
    color: rgb(255, 255, 255); 
    border-radius: 5px;
}




.lidrop:focus{
    background-color: rgb(255, 255, 255);
    color: white;

}

.lidrop{
    color:white;
    list-style: none;
    padding:10px;
}

.a_drop {
color:black;
}

.lidrop:hover .a_drop {
    color: rgb(255, 255, 255);
 
    }



@media screen and (max-width:845px) {
   .nav__listitem{
       font-size: 14px;
   }

   .nav__listitemdrop{
       top:47px;
   }

}

@media screen and (max-width:769px) {
    .nav {
        display: none;
    }
 
 }

 