@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*cambie el tamaño de las letras*/
body {
    background-color: #E8E8E4;
  font-family: 'Roboto', sans-serif;
}


    .container-perfil {
        width: 100%;
        margin: auto;
        display:flex;
        flex-direction: column;
        align-items: center;
      justify-content: center;
    }

    .perfil2 p {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 25px;
        width: 100%;
    }

    p.datosP{
     font-size: 16px;
    }

    p.perfil2 {
        font-size: 16px;
    }

    /*parte de la tabla de aca... */

table {
  width: 600px;
    border-collapse: collapse;
}

th {
    background-color: #B7B7A4;
    border: 1px solid #B7B7A4;
    padding-top: 15px;
    border-collapse: collapse;
    font-size: 17px;
}

td {
    background-color: white;
    border: 2px solid white;
    padding-left: 10px;
   font-size: 16px;
}
/*hasta aca*/

/*titulo bienvenido cosme fulanito....*/
p.bienvenido {
    color: orange;
    display: flex;
    justify-content: center;
    font-size: 20px;  
    margin-bottom: 20px;
}

/*para el titulo mis datos*/
.datos {
    display: flex;
    margin-bottom: 10px;
    font-size: 25px;
    font-style: italic;
}

/*para el botones naranja*/
span.cuenta button{
    background-color: orange;
    color: white;
    font-size: 13px;
    width: 130px;
    height: 25px;
    border-radius: 10px;
    margin-left: 130px;
}




/*tamaño escritorio */
@media (min-whith:480px) {

.container-perfil {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*titulo bienvenido cosme fulanito....*/
.bienvenido {
    color: orange;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 45px;
    font-size: 16px;
    /*para resaltar la palabra*/
    /*font-weight: bold;*/   
}

/*para el titulo mis compras*/
.datos {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-style: italic;
}

/*para el botones naranja*/
span.cuenta button{
    background-color: orange;
    color: white;
    font-size: 17px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-left: 540px;
}

/*parte de la tabla de aca... */
table {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th {
    background-color: #B7B7A4;
    border: 1px solid #B7B7A4;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 15px;
    border-collapse: collapse;
}

td {
    background-color: white;
    border: 2px solid white;
    padding-left: 20px;
    padding-top: 20px;
}

/*hasta aca*/
.perfil2 p {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
}
}