@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*cambie el tamaño de las letras*/
body {
    background-color: #E8E8E4;
  font-family: 'Roboto', sans-serif;
  
}

@media (max-width:990px) {
    table {
        width:100px;
        height: 50px;
    }
    .container-perfil {
        padding: 50px;
        margin-left: 30px;
        width: 100%;
    }

    .perfil2 p {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 25px;
        width: 100%;
    }

    p.datosP{
     width: 700px;
     font-size: 30px;
    }

    .perfil2 {
        width: 100px;
    }

    p.perfil2 {
        width: 500px;
        font-size: 30px;
    }

    /*parte de la tabla de aca... */
table {
    margin-right: auto;
    border-collapse: collapse;
}

th {
    background-color: #B7B7A4;
    border: 1px solid #B7B7A4;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 25px;
    border-collapse: collapse;
    font-size: 23px;
}

td {
    background-color: white;
    border: 2px solid white;
    padding-left: 18px;
   font-size: 22px;
}
/*hasta aca*/

/*titulo bienvenido cosme fulanito....*/
p.bienvenido {
    color: orange;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    font-size: 30px;
    width:500px;

    /*para resaltar la palabra*/
    /*font-weight: bold;*/   
}

/*para el titulo mis datos*/
.datos {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    margin-left: 120px;
    width: 100%;
    font-size: 40px;
    font-style: italic;
}

p.datos {
    width: 400px;
}

/*para el botones naranja*/
span.cuenta button{
    background-color: orange;
    color: white;
    font-size: 25px;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    
    margin-left: 390px;
}

}



/*tamaño escritorio */
@media (min-whith:1000px) {


    
    .logo img {
        width: 140px;
        height: 140px;
    }
.container-perfil {
    display: flex;
    width: 100%;
    height: 100%;





    
    margin: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*titulo bienvenido cosme fulanito....*/
.bienvenido {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 45px;
    font-size: 16px;

    /*para resaltar la palabra*/
    /*font-weight: bold;*/   
}



.bienvenido b {
    color:red;
    margin: 0px 5px;
}




/*para el titulo mis compras*/
.datos {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

/*para el botones naranja*/
span.cuenta button{
    display: inline-block;
    padding: 8px 7px;
      margin-top:30px;
      margin-bottom: 15px;
    border-radius:5px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    background-color:transparent;
    text-align:center;
    transition: all 0.2s;
    width: 140px;
    font-weight: 700;
}

span.cuenta button:hover{
    background-color:#1d1d1ce5;
    color:#fff;
}

/*parte de la tabla de aca... */
table {
    margin-bottom:40px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th {
    background-color: #242424;
    color: #fff;
    border: 1px solid #B7B7A4;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 15px;
    border-collapse: collapse;
    text-align: center;
}

td {
    background-color: white;
    border: 2px solid white;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;

}
/*hasta aca*/

.perfil2  {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    margin: 5px 5px;
}
.perfil2 span {
    margin: 3px;
}

.tabladatos {
    margin-bottom: 20px;
}

}

