h1 {
    margin: 50px 0 !important;
    font-family:sans-serif ;
}

h2.mb-01{
    width: 1000px;
}

.cardFAQ, .cardFAQ-header11{
    background-color:grey !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 20px;
}

.cardFAQ {
    box-shadow: 0 6px 20px rgba(5, 16, 59, 0.18) ;
    text-align: justify;
    border-style: solid grey;
}

.cardFAQ-header1 {
    width: 1370px;
}

.cardFAQ-header11 {
    width: 1470px;
}

.btn-linkPre {
    width: 100%;
    height: 60px;
    color: #000 !important;
    font-weight: bold !important;
    text-align: center !important;
    text-decoration: none !important;
}

.cardFAQ-body {
    background: #dce0fa;
   text-align: left;
}

.btn-linkPre:before {
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    background: #fff;
    z-index: 1;
    transform: rotate(45deg);
    left: 30px;
    top: 46px;
}

button#\#btnFAQ {
    color: red;
}

.containerbstrap {
    background-color: red;
}