@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');




.small-container{

    padding-left:25px;
    padding-right:20px;
}

.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.single-product{
    margin-top:10px;
}

.small-img-row{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom:550px;
    
}



#ProductImg {
    margin-left:100px;
    width: 600px;
    height: 600px;
    border-right: 1px solid rgb(155, 154, 154);
    object-fit: contain;
}




.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.small-img-col{
    cursor:pointer;
    
}


.single-product .col-2 img {
    padding:0;
}

.single-product .col-2{
    padding:20px;
}

.col-2right {
    flex-basis: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 500px;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: stretch;
    
}

.col-2right span {
    color:rgb(3, 3, 158);
}

.col-2right select {
    height: 20%;
    width: 15%;
    text-align: center;
    margin-bottom: 5px;
    
}



.datos span{
    color:rgb(22, 10, 194)
    
}





.col-2right h1{
    font: 50px;
    line-height: 60px;
    
    }
    
    .col-2right h3{
        margin-top: 20px;
    }

    
    .col-2right .btn {
        width: 150px;
        text-align: center;
        margin:20px 0px;
    }

    .col-2right .btn-cuotas {
        width: 300px;
        text-align: center;
        margin:0;
    }


.single-product select{
    display:block;
    padding:10px;
    margin-top:20px;
    width: 200px;
}

.single-product h4 {
    margin:20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #949190;
}

input:focus{
    outline:none;
}
a{
    text-decoration: none;
    color: #555;
}
.single-product .fa{
    color:#000000;
    margin-left:10px;
    opacity: 70%;
}
p{
    color:#555;
    margin: 10px 10px;
}

.btn{
    display:inline-block;
    background:#000000;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn-cuotas {
        display:inline-block;
        background:transparent;
        color:rgb(2, 2, 2);
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 7px;
        transition: 0.5s;
        border:1px solid black;
        text-decoration: underline;
}

.btn:hover{
    background: rgb(6, 9, 224);
}