@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

.small-container {
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.productDetailcontainer{
    background-color: #EEECEB;
}

.roww {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.small-img-row{
         display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    
}

.infoprod {
    display: flex;
    flex-direction: column;
}

.infoprod span {
    color: #5b016b;
}

.small-img{
    margin-top: 10px;
    padding: 10px;
    margin: 20px;
}

.prodenvioo {
    font-size: 13px;
}

.prodenvioicon {
    display: flex;
    align-items: flex-end;
}


div.small-cuadrado {
    margin-left: 20px;
}

.col-2 img {
    max-width: 100%;
    padding:50px 0;
}

.small-img-col {
    flex-direction: row;
    display: flex;
    flex-basis: 51%;
    cursor: pointer;
}

.single-product .col-2 img {
    padding:0;
    border: 1px solid silver;
}


.single-product .col-2 {
    padding: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: none;
}

.col2 {
    margin-left: 30px;
}


.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    border-right: 1px solid lightgrey;
}
.col-2 h3 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.single-product select {
    display: block;
    padding:10px;
    margin-top: 20px;
}

.single-product h4 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
}

.prodenvioicon {
    display: flex;
}

.prodenvioicon img {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-right: 10px;
}

.prodesucursalicon {
    display: flex;
}

.prodesucursalicon img{
    width: 37px;
    height: 37px;
    margin-top: 30px;
    margin-right: 10px;
}

.tituloprod {
    font-size: 20px;
    font-family: 'Lato';
    margin: 10px 0;
    text-align: start;
}

.precioprod {
    color: rgb(3, 3, 187);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.cuotaprod {
    color: blue;
}
.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid black;
    display: block;
}

input:focus{
    outline: none;
}


.single-product .fa {
    color: rgb(33, 33, 34);
    margin-left: 10px;
}

.p {
    color: rgb(12, 12, 12);
}

.enrutador {
    padding: 20px;
    cursor: pointer;
}

.btncart { 
    display: inline-block;
    background: none;
    color: rgb(7, 7, 7);
    border:1px solid black;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btncomprar {
    display: inline-block;
    background: #700184;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}


.btncomprar:hover{
    color:white;
    background: #5b016b;

}

.btncart:hover {
    background: #700184;
    color:#fff;
    border: 1px solid #700184;
}


.greelineprod {
    color: rgb(0, 145, 0);
    text-decoration: underline;
    font-size: 13px;
}

.prodenvio {
    margin: 30px 0;
    font-size: 13px;
}

.detalleproductocol1 {
    color: blue;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    text-align:justify;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.especificacionestecnicas {
    color: blue;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    text-align:justify;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 90px;
}

.descripcionprod {
    color:rgb(70, 70, 70);
    margin-left: 40px;
}

.detalleyinfo {
    display: flex;
    justify-content: space-around;
}

.detalleyinfo h4{
    cursor: pointer;
}

.detalleyinfo h4 {
    display: inline-block;
    position: relative;
    color: #700184;
  }
  

  /* ADMIN BUTTONS */
  .btneditprodform {
    width: 140px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 16);
    border: 8px solid rgb(255, 255, 16);
    margin: 8px;
    border-radius: 10px;
}

  .btndeleteprod {
    background-color: red;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 50px;
  }




/* Imagenes cuadrados de product detail */

.imgcontainercol2 {
    width: 400px;
    height: 400px;
    background-color: white;
}

.imgcontainercol2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.small-cuadrado img:hover{
    border:1px solid rgb(25, 0, 255);
    transition: 5ms ease-in-out;
}


.small-img-col img:hover{
    border:1px solid rgb(25, 0, 255);
    transition: 0.1s ease-in-out;
}


/* .productDetailcontainer img[type="checkbox"]:checked + img {
background: rgb(190, 190, 194);

} */


.favdetail {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.favdetail .fa{
    color:rgb(25, 0, 255);
    cursor: pointer;
}

.descripcionprod {
    padding:20px
}

main.productDetail {
    position: relative;
}

/*ventana modal de ver sucursales */

.modal-containerSucursal{
    z-index: 9999; 
    position: absolute;
    width: 500px;
    height: 400px;
    top: 30%;
    left: 35%;
    background: rgba(0,0,0, 0.5);
   display: none;
    justify-content: center;
    align-items: center;

}



.modal .modal-closeSucursal{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 7px;
    transition: transform 1s;
    transform: translateY(0%);
} 

.modal.modal-closeSucursal p{ 
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background-color: red;
    width: 23px;
    height: 20px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}

.modal.modal-closeSucursal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.h3detail{
    color: #700184;
    display: flex;
    padding-left: 50px;
}

@media screen and (max-width: 725px) {

    .roww {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 500px) {

    .roww {
        display: flex;
        flex-direction: column;
    }

    .imgcontainercol2 {
        width: 300px;
        height: 300px;
        background-color: white;
    }

}


.single-product .col-2 img {
    width: 100%;
    height: 100%;
        margin: 0;
}

.small-img-container {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 10px;
}