@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300&display=swap');


/*cambie el tamaño de las letras*/
body {
  background-color: #D5D9DC;
  font-family: 'Roboto', sans-serif;
  
}

.logo-registro {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-registro img{
    width: 150px;
    height: 150px;
}

.container-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 /* volver a menú de inicio*/
span a.link {
    margin: 25px;
    color: #383737;
    font-weight: bold;
    font-size: 14px;
}

/*para el ingresa los datos de tu cuenta*/
.ingreso {
    font-size: 19px;
    margin-bottom: 40px;
}

/*para q no se vean los errores*/
.error {
    display: none;
    color:red;
}


.form input { 
    margin-bottom: 10px;
    width: 70px;
    height: 35px;
    padding-left: 10px;
    border-radius: 10px;
    border:grey;
}
/*para el boton */
span.cuenta button{
    background-color: rgb(13, 40, 197);
    color: rgb(255, 255, 255);
    font-size: 14px;
    width: 140px;
    height: 42px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 25%);
}

span.cuenta button:hover {
    color: rgb(255, 255, 255);
    background-color: black;
}



/* Boton de google */
.google-btn {
    width: 210px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 30px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    margin-bottom: 20px;
  }


  
  .google-btn:hover {
      background-color: #1669F2;
  }


  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    font-family: 'Work Sans', sans-serif;
  }

  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }

  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: white;
    font-size: 14px;
    font-weight:lighter;
    letter-spacing: 0.2px;
    font-family: "Lato";
  }


.padre{
    width: 75%;
    height: 170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.padre .box-1{
    width: 50%;
}

.padre .box-2{
    width: 50%;
}

.padre .box-1 input {
    width: 90%;
}

.padre .box-2 input {
    width: 94%;
}


/*tamaño chico*/
@media (max-width:450px) {
    .logo-registro {
        width: 100%;
        height: 100%;
       padding-left: 85px;
    }
    
    /*para el boton */
span.cuenta button{
    margin-left: 85px;
    text-decoration: underline;
    font-size: 20px;
}
span.cuenta button:hover {
    font-size: 19px;
}

/*ingresar los datos de tu cuenta */
p.ingreso {
    margin-left: 80px;
    font-size: 20px;
}

/*volver al menú de inicio*/
span a.link {
    margin-left: 85px;
    font-size: 20px;
}
}





/*tamaño mas chico*/
@media (max-width:700px) {
    .logo-registro {
        width: 100%;
        height: 100%;
       padding-left: 5px;
    }
    
    /*para el boton naranja*/
span.cuenta {
    width: 200px;
    height: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
    text-decoration: underline;
    margin-bottom: 10px;
}



/*ingresar los datos de tu cuenta */
p.ingreso {
    margin-left: 85px;
    font-size: 20px;
   width: 100%;
}

/*volver al menú de inicio*/
span a.link {
    margin-left: 45px;
    font-size: 20px;
    margin-right: 40px;
}

.padre{
    width: 80%;
    height: 170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

}