@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*cambie el tamaño de las letras*/




.logo-registro img{
    width: 170px;
    height: 170px;
    
}




.ingreso{
text-align: center;
}


.container-registro {
    text-align: center;
}




.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 253);
}



 /*le doy color a volver a menú de inicio*/

 
 
span a.link {
color: black;
padding-bottom: 40px;
margin-left: 40px;
}

.ingreso {
    font-size: 16px;
    /*para resaltar la palabra*/
    /*font-weight: bold;*/
    margin-bottom: 40px;
}

/*para q no se vean los errores*/
.error {
    display: none;
}


.form input { 
    margin-bottom: 15px;
    width: 250px;
    height: 35px;
    padding-left: 10px;
    
    /*para el recuadro branco*/
    border: 1px solid black;
    border-radius: 10px;
    display: flex;


}

/*para los botones naranja*/
span.cuenta button{
  display: inline-block;
  padding: 5px 5px;
    margin-bottom:30px;
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#ffffff;
  background-color:transparent;
  text-align:center;
  transition: all 0.2s;
  width: 140px;
  font-weight: 5 00;
  background-color: rgb(4, 14, 151);
  font-family: Roboto, sans-serif;
  border:none;
}


span.cuenta button:hover{
    background-color:#000000;
    color:#fff;
}

@media all and (max-width:30em){
     span.cuenta button{
    display:block;
    margin:0.2em auto;
    }
    }




.padre{

    width: 600px;
    height: 200px;
    border-radius: 10%;
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.padre .box-1{
    width: 50%;
}

.padre .box-2{
    width: 50%;
}

.padre .box-1 input {
    width: 90%;
}

.padre .box-2 input {
    width: 94%;
}

