body.body-sobre-nosotros {
    background-color: rgb(231, 228, 228);
   
}

.titulo {
    margin-top: 50px;
    margin-bottom: 30px;
   font-size: 50px;
   text-align: center;
}

.subtitulo {
    margin-bottom: 20px;
    font-size: 28px;
    color:rgb(57, 57, 247);
    font-weight: lighter;
}

.texto {
    margin-bottom: 30px;
   font-size: 21px;
}

@media(max-width: 900px) {


 .titulo {
     color:rgb(57, 57, 247);
 }

 .subtitulo {
     color: orange;
 }
 .texto {
  color: white;
 }
}