@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300&display=swap');

/*cambia el tamaño de las letras*/
body {
 background-color: rgb(241, 242, 243);
  font-size: 17px;
}

/*modificaciones del titulo*/
.titulo {
    font-size: 40px;
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
}

/*modificaciones de los subtitulos*/
.subtitulo {
    font-size: 23px;
    font-weight: bolder;
}

/*cambia el tipo de letra para ell texto*/
.texto {
    font-family: 'Roboto', sans-serif;
}



/*para todos los tamaños menos compu*/
@media(max-width:900px) {
   
body {
    background-color: rgba(0, 0, 0, 0.884);
  }
  
 
  .titulo {
      color:white;
  }
  

  .subtitulo {
     color:white;
  }
  

  .texto {
     color:white;
  } 
}