body.body-trabaja-con-nosotros {
    background-color: rgb(240, 233, 233);
}

.titulo {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 100px;
}

.texto {
  margin-bottom: 15px;
    font-size: 19px;
    text-align: center;
}
.cv {
    text-align: center;
    font-size: 19px;
    margin-bottom: 80px;
}


.error-message {
    display: none;
    font-family:cursive;
    font-size: 19px;
  }

  .datosTrabajaCon {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 30px;
  }

.subtitulo {
    font-size: 27px;
    text-align: center;
}

  .input-style {
      border-radius: 20px;
      width: 50%;
      height: 30px;
      text-align: center;
      border: none;
      font-size: 17px;
  }

  @media(max-width:900px) {
     
      .texto {
          color:white
      }

      .subtitulo {
        color: rgb(44, 44, 170)
      }

      .cv {
          color:white;
      }

      .titulo {
          color:orange;
      }
  }