.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
    z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #FFF;
    background-color:rgb(8, 235, 46);
}

.float:active {
	text-decoration: none;
	color: #FFF;
    background-color:#25d366;
}

.my-float{
	margin-top:16px;
}