<!DOCTYPE html>
<html lang="es">

  <%- include ('../partials/head.ejs') %>

 <body class="body-boton-de-arrepentimiento">

  <%- include ('../partials/header.ejs') %>

    <%- include ('../partials/nav.ejs') %>
    <h1 class="titulo-bd">Bóton de arrepentimiento </h1>
    <div class="titulo-bot">
    <h2>Resolución 424/2020 - Devoluciones de compras en internet</h2>
    <h3>Te recordamos que el producto a devolver debe estar tal cual lo recibiste. Tenés hasta 10 dias de corridos desde que lo compraste y/o recibiste para realizar la devolución.</h3>
    </div>

    <div class="contenedorDeCaja"> 
    <div class="caja3-1"> 
    <p class="por-favor">Por favor complete los siguientes datos:</p>

     <div class="padreBoton">

      <div class="box-111"> 

      <div class="formBoton">
        <input class="inputs-style1" type="nombre" name="name" placeholder="Nombre">
        <span class="error">Debes ingresar tu Nombre</span>
      </div>

      <div class="formBoton">
        <input class="input-style1" type="DNI" name="name" placeholder="DNI">
        <span class="error">Debes ingresar tu DNI</span>
      </div>

      <div class="formBoton">
        <input class="input-style1" type="Email" name="name" placeholder="Email">
        <span class="error">Debes ingresar tu Email</span>
      </div>
    </div>

    <div class="box-211">
      <div class="formBoton">
        <input class="input-style1" type="Apellido" name="name" placeholder="Apellido">
        <span class="error">Debes ingresar tu Apellido</span>
      </div>

      <div class="formBoton">
        <input class="input-style1" type="Contraseña" name="name" placeholder="Telefono">
        <span class="error">Debes ingresar tu Contraseña</span>
      </div>

      <div class="formBoton">
        <input class="input-style1" type="Email" name="name" placeholder="confirmar Email:">
        <span class="error">Debes re-ingresar tu Email</span>
     </div>
     
     </div>
     </div>
     <div>
     <h4>(Para darle celeridad a tu trámite recorda incluir los datos del comprador)</h4>

     <div class="formBoton">
        <input class="input-style2" type="nro de compra" name="name" placeholder="Nro de compra">
        <span class="error">Debes ingresar el Nro de compra</span>
      </div>

      <div class="formBoton">
        <input class="input-style2" type="Producto" name="name" placeholder="Producto">
        <span class="error">Debes ingresar el Producto</span>
      </div>

      <div class="formBoton">
        <input class="input-style2" type="Motivo de la devolución" name="name" placeholder="Motivo de la devolución">
        <span class="error">Debes explicar porque el motivo de tu devolución</span>
     
      </div>
       </div>

       <div class="botonDeArrepentimiento">              
       <span class="cuentaBoton1"> <button type="continueBoton" class=" btn-B-continueBoton1">Enviar</button></span>

    <span> <a href="#" class="linkBotonDe"> volver al menú de inicio</a> </span>
    </div>

  </div>
  

</body>
</html>