<!DOCTYPE html>
<html lang="es">
<%- include ('../partials/head.ejs', {title: ' Sobre nosotros | ElectroHogar'}) %>

  <body class="body-sobre-nosotros">

    <%- include ('../partials/header.ejs') %>

      <%- include ('../partials/nav.ejs') %>

        <div class="imgsn">
          <div class="textSN">
            <h1 class="tituloSN">Sobre Nosotros</h1>

            <h2 class="subtituloSN">La mirada puesta en el futuro </h2>

            <p class="textoSN"> Somos el deseo constante por la innovación, búsqueda de experiencias que conectan
              personas.
              Intentamos llegar a lo más profundo del universo tecnológico para que no te pierdas absolutamente nada de
              la
              era digital. Con más de 30 años de trayectoria en el mercado, nos dedicamos a la importación, distribución
              y
              venta de productos electrónicos.</p>
            <p class="textoSN"> Tenemos un claro compromiso, satisfacer las demandas de nuestros clientes más exigentes,
              resolviéndolas de una forma fácil y simple, garantizando que la experiencia de compra sea la mejor del
              mercado. Ofrecemos excelentes precios a nuestros clientes y todos nuestros productos cuentan con garantía,
              así
              el consumidor puede comprar con seguridad. </p>
            <p class="textoSN"> Los valores que rigen nuestra actividad diaria, se basan en transparencia, calidad y
              compromiso con nuestros clientes. </p>
          </div>
      
        </div>

        <div class="whitespace"></div>

        <%- include ('../partials/footer.ejs') %>

        <script src="/js/modoOscu.js"></script>
  </body>

</html>

