<!DOCTYPE html>
<html lang="es">
  

<body class="body-ventana">


<div class="ventanaSus" id="vent"> Gracias por suscribirte </div>

<script> function abrir() {
    document.getElementById("vent").style.display="block";
}

</script>

</body>
</html>