<footer>

    <div class="footerlinealtop">

        <div class="newsletter">
            <img src="/images/newsleter.png" alt=""> <span>Newsletter</span>
        </div>

        <div class="emailsub">



            <input type="email" class="inputemail" name="email" id="" placeholder="Ingresá tu e-mail...">
            <input type="submit" value="Suscribirse" class="confirmaremail" />
        </div>


        <div class="social">
            <a href="https://www.facebook.com/electroHogar"><img
                    src="https://img.icons8.com/nolan/64/facebook.png" /></a>
            <a href="https://www.instagram.com/electrohogar"><img
                    src="https://img.icons8.com/nolan/64/instagram-new.png" /></a>
            <a href="www.twitter.com/electroHogar"><img src="https://img.icons8.com/nolan/64/twitter.png" /></a>
            <a href="www.youtube.com/electroHogar"><img src="https://img.icons8.com/nolan/64/youtube-play.png" /></a>
        </div>


            <div class="footercolumna3Row">
                <h3>Servicio al cliente</h3>
                <ul class="footerul">
                    <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
                    <li><a href="/terminos-y-condiciones">Terminos y condiciones</a></li>
                    <li><a href="/boton-de-arrepentimiento">Boton de arrepentimiento</a></li>


        <div class="footercolumna3Row">
            <ul class="footerul">
                <li><a href="/sobre-nosotros/">Sobre nosotros</a></li>
                <li><a href="/trabaja-con-nosotros">Trabaja con nosotros</a></li>
            </ul>
        </div>

        <div class="footercolumna3Row">
            <ul class="footerul">
                <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
                <li><a href="/terminos-y-condiciones">Terminos y condiciones</a></li>
                <li><a href="#">Boton de arrepentimiento</a></li>

            </ul>

        </div>

        <div id="footer-store-contact" class="footer-contact">

            <ul class="footer-datos">
                <li>
                    <img src="//d2az8otjr0j19j.cloudfront.net/templates/090/056/twig/static/images/ico-phone.png?2002707259"
                        class="icon"><a href="tel:(+54 0221 888-1111)" class="text-wrap">+54 0221 888-1111</a>
                </li>
                <li>
                    <img src="//d2az8otjr0j19j.cloudfront.net/templates/090/056/twig/static/images/ico-mail.png?2002707259"
                        class="icon"><a href="mailto:electrohogar@gmail.com">electrohogar@gmail.com</a>
                </li>

                <li>
                    <img src="//d2az8otjr0j19j.cloudfront.net/templates/090/056/twig/static/images/ico-address.png?2002707259"
                        class="icon"><a target="_blank"
                        href=" https://goo.gl/maps/rBLFf49x76q7WLGd7"
                        class="text-wrap">Calle 7 y 49 La Plata. Buenos Aires,
                        Argentina.</a>
                </li>

            </ul>

        </div>



        <div class="listinlinediv">
            <h3>Medios de pago</h3>
            <ul class="list-inline">
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/visa@2x.png" alt=""></li>
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mastercard@2x.png" alt="">
                </li>
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/amex@2x.png" alt=""></li>
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/diners@2x.png" alt="">
                </li>
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/banelco@2x.png" alt="">
                </li>
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/cabal@2x.png" alt="">
                </li>
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/tarjeta-naranja@2x.png"
                        alt=""></li>
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/tarjeta-shopping@2x.png"
                        alt=""></li>
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mercadopago@2x.png"
                        alt=""></li>
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/argencard@2x.png"
                        alt=""></li>
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/nativa@2x.png" alt="">
                </li>
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/cencosud@2x.png"
                        alt=""></li>
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/pagofacil@2x.png" alt="">
                </li>
                <li><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/rapipago@2x.png" alt="">
                </li>
            </ul>

        </div>



        <!-- 
            <div class="contenedorventatelefonica">

                <b class="bRED"> VENTA TELEFONICA:  </b> <span class="numerotel"> 0810-111-0707 </span>
                <div class="contenedorclietne"> 
                    <span>Atencion al cliente:</span>
                    de <b>9</b> a <b> 20 </b> hs / Sáb. de <b>9</b> a <b>18</b> hs
                </div>
            </div> -->



    </div>




</footer>