     <footer>

        <div class="footertop">


            <div class="emailsub">
                <span>¡Recibí nuestras promociones exclusivas! </span>

                <input type="email" class="inputemail" name="email" id="" placeholder="Ingresá tu e-mail...">
                <input type="submit" value="Suscribirse" class="confirmaremail" />
            </div>

            <div class="contenedorventatelefonica">

                <b class="bRED"> VENTA TELEFONICA: </b> <span class="numerotel"> 0810-111-0707 </span>
                <div class="contenedorclietne">
                    <span>Atencion al cliente:</span>
                    de <b>9</b> a <b> 20 </b> hs / Sáb. de <b>9</b> a <b>18</b> hs
                </div>
            </div>

            <div class="social">
                <a href="https://www.facebook.com/electroHogar"><img src="/icons/facebook.png"
                        alt="Seguinos en Facebook" class="facebook"></a>
                <a href="www.instagram.com/electrohogarr"><img src="icons/instagram.png"
                        alt="Seguinos en Instagram" class="instagram"></a>
                <a href="www.twitter.com/electroHogar"><img src="icons/twitter.png" alt="Seguinos en twitter"
                        class="twitter"></a>
                <a href="www.youtube.com/electroHogar"><img src="icons/youtube.png" alt="Seguienos en Youtube"
                        class="youtube"></a>
            </div>

        </div>
        <section>
            <div class="footercentral">

                <div class="footercolumna2Row">
                    <h3>Categorias</h3>
                    <ul>
                        <li>Tecnologia</li>
                        <li>Decoracion</li>
                        <li>Celulares</li>
                        <li>Heladeras</li>
                        <li>Climatizacion</li>
                    </ul>
                </div>

                <div class="footercolumna3Row">
                    <h3>Nosotros</h3>
                    <ul>
                       <li>Sucursales</li>
                       <a href="/src/views/trabajaConNosotros.html"><li>Trabaja con nosotros</li></a> 
                        <li>Quienes somos</li>
                        <li>Terminos y condiciones</li>

                    </ul>

                </div>





            </div>
        </section>

    </footer>