<footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <img src="/images/logoeh.jpeg" alt="logo">
          <span class="logo_name">Electro Hogar</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Compañía</li>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Sucursales</a></li>
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">Trabaja con nosotros</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Servicios</li>
          <li><a href="#">Atención al cliente</a></li>
          <li><a href="#">Medios de pago</a></li>
          <li><a href="#">Formas de envío</a></li>
          <li><a href="#">Cambios y Devoluciones</a></li>
          <li><a href="#">Preguntas Frecuentes</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Legales</li>
          <li><a href="#">Política y Privacidad</a></li>
          <li><a href="#">Terminos & condiciones</a></li>
          <li><a href="#">Políticas de Cambio</a></li>
          <li><a href="#https://www.argentina.gob.ar/produccion/defensadelconsumidor/formulario">Defensa al consumidor</a></li>
          <li><a href="http://www.bcra.gob.ar/BCRAyVos/Usuarios_Financieros.asp">Usuarios Financieros</a></li>
        </ul>
        
        <ul class="box input-box">
          <li class="link_name">Suscribite</li>
          <li><input type="text" placeholder="Pon tu Email aquí."></li>
          <li><input type="button" value="Suscripción"></li>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2021<a href="#"> Electro Hogar.</a>Todos los derechos reservados.</span>
        <span class="dressPhone">
          <a href="#">Calle 7 y 49 La Plata. Buenos Aires, Argentina.</a>
          <a href="#">+54 0221 8888-1111</a>
        </span>
      </div>
    </div>
  </footer>