
    <footer>

        <div class="footerlinealtop">

            <div class="newsletter">
                <img src="./images/newsleter.png" alt=""> <span>Newsletter</span>
            </div>

            <div class="social">
                <a href="https://www.facebook.com/electroHogar"><img src="https://img.icons8.com/nolan/64/facebook.png"/><img src="https://img.icons8.com/nolan/64/instagram-new.png"/></a>
                <a href="www.twitter.com/electroHogar"><img src="https://img.icons8.com/nolan/64/twitter.png"/></a>
                <a href="www.youtube.com/electroHogar"><img src="https://img.icons8.com/nolan/64/youtube-play.png"/></a>
            </div>
            
            <div class="emailsub">
                
                <span>Recibí en tu email noticias de productos, 
                     lanzamientos y promociones!
                     </span>
                   
            
                <input type="email" class="inputemail" name="email" id="" placeholder="Ingresá tu e-mail...">
                <input type="submit" value="Suscribirse" class="confirmaremail" />
            </div>

        </div>

        <div class="footercentral">

            <div class="footercolumna3Row">
                <h3>Servicio al cliente</h3>
                <ul>
                   <li>Preguntas Frecuentes</li>
                    <li>Terminos y condiciones</li>
                    <li>Boton de Arrepentimiento</li>

                </ul>

            </div>

            <div class="footercolumna3Row">
                <h3>ElectroHogar</h3>
                <ul>
                   <li>Sobre Nosotros</li>
                    <li>Trabaja con nosotros</li>
                    <li>Boton de Arrepentimiento</li>

                </ul>

            </div>


            

            <div class="contenedorventatelefonica">

                <b class="bRED"> VENTA TELEFONICA:  </b> <span class="numerotel"> 0810-111-0707 </span>
                <div class="contenedorclietne"> 
                    <span>Atencion al cliente:</span>
                    de <b>9</b> a <b> 20 </b> hs / Sáb. de <b>9</b> a <b>18</b> hs
                </div>
            </div>



         </div>


      

    </footer>
