
    <footer>

        <div class="footerlinealtop">

            <div class="newsletter">
                <img src="/images/newsleter.png" alt=""> <span>Newsletter</span>
            </div>

            <div class="emailsub">
                
       
            
                <input type="email" class="inputemail" name="email" id="" placeholder="Ingresá tu e-mail...">
                <input type="submit" value="Suscribirse" class="confirmaremail" />
            </div>


            <div class="social">
                <a href="https://www.facebook.com/electroHogar"><img src="https://img.icons8.com/nolan/64/facebook.png"/></a>
                <a href="https://www.instagram.com/electrohogar"><img src="https://img.icons8.com/nolan/64/instagram-new.png"/></a>
                <a href="www.twitter.com/electroHogar"><img src="https://img.icons8.com/nolan/64/twitter.png"/></a>
                <a href="www.youtube.com/electroHogar"><img src="https://img.icons8.com/nolan/64/youtube-play.png"/></a>
            </div>
            
            
        </div>

        <div class="footercentral">

            <div class="footercolumna3Row">
                <h3>Servicio al cliente</h3>
                <ul class="footerul">
                    <li><a href="#">Preguntas frecuentes</a></li> 
                   <li><a href="/terminosyCondiciones">Terminos y condiciones</a></li> 
                   <li><a href="#">Boton de arrepentimiento</a></li> 
                </ul>

            </div>

            <div class="footercolumna3Row">
                <h3>ElectroHogar</h3>
                <ul class="footerul">
                    <li><a href="/sobre-nosotros/">Sobre nosotros</a></li> 
                    <li><a href="#">Trabaja con nosotros</a></li> 
                </ul>

            </div>


            

            <div class="contenedorventatelefonica">

                <b class="bRED"> VENTA TELEFONICA:  </b> <span class="numerotel"> 0810-111-0707 </span>
                <div class="contenedorclietne"> 
                    <span>Atencion al cliente:</span>
                    de <b>9</b> a <b> 20 </b> hs / Sáb. de <b>9</b> a <b>18</b> hs
                </div>
            </div>



         </div>


      

    </footer>
