<footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <span class="logo_name">Electro Hogar S.A</span>
        </div>



    <!--     <div>
          <button onclick="darkMode()">Modo Oscuro</button>
        </div>
 -->


        <div class="media-icons">
          <a href="https://www.facebook.com/Electro-Hogar-103109622335065"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/ElectroHogar12?t=bWJlSZmqdNVze033oNRhXw&s=08"><i class="fab fa-twitter"></i></a>
          <a href="https://instagram.com/electrohogar1802?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/electro-hogar-ba8062234/"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://api.whatsapp.com/send/?phone=542215643541&text=Hola%21+Escribenos+tu+consulta+a+nuestro+WhatsApp&app_absent=0"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Compañía</li>
          <li><a href="/">Inicio</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="#">Sucursales</a></li>
          <li><a href="/sobre-nosotros">Sobre nosotros</a></li>
          <li><a href="/trabaja-con-nosotros">Trabaja con nosotros</a></li>
        </ul>
   
        <ul class="box">
          <li class="link_name">Legales</li>
          <li><a href="/politica-y-privacidad">Política y Privacidad</a></li>
          <li><a href="/terminos-y-condiciones">Terminos & condiciones</a></li>
          <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
          <li><a href="https://www.argentina.gob.ar/produccion/defensadelconsumidor/formulario">Defensa al consumidor</a></li>
          <li><a href="http://www.bcra.gob.ar/BCRAyVos/Usuarios_Financieros.asp">Usuarios Financieros</a></li>
        </ul>
        
      
        <ul class="box input-box">
          <li class="link_name">Suscribite</li>
          <li><input name="subName" id="bbbSub" type="text" placeholder="Pon tu Email aquí."></li>
          <li><button id="butSubcri"> Suscripción</button></li>
        </ul>
      

      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2021<a href="/"> Electro Hogar.</a>Todos los derechos reservados.</span>
        <span class="dressPhone">
          <a>Calle 7 y 49 La Plata. Buenos Aires, Argentina.</a>
          <a>+54 0221 8888-1111</a>
        </span>
      </div>
    </div>
  </footer>