<header>
    <input type="checkbox" id="check">

    <label for="check" class="bar">
        <span class="fa fa-bars" id="bars"></span>
        <span class="fa fa-times" id="times"></span>


    </label>

    <div class="logomain">

        <a href="./"><img class="logo" src="/images/electrohogarlogo2resuelto.png" alt=""></a>
    </div>



    <div class="buscar">
        <input type="search" placeholder="Buscar productos..">
        <i class="fas fa-search"></i>
    </div>

    <div class="headernav">
        <ul>
            <li><a href="./carrito"><img class="iconcarrito" src="/icons/shopping-cart.png" alt="Carrito">Carrito</a>
            </li>
            <li><a href="#"><img class="iconfav" src="/icons/favorite.png" alt="Favoritos">Favoritos</a></li>
            <li><a href="./registro"><img class="iconcuenta" src="/icons/perfil.png" alt="Mi cuenta">Mi
                    cuenta</a></li>
        </ul>


    </div>

</header>