<header>
    <div class="headercontainer">

        <!-- Logo -->
        <div class="logomain">

            <a href="/"><img class="logo" src="/images/electrohogarlogo2resuelto.png" alt=""></a>
        </div>


        <!-- Barra de busqueda -->
        <div class="buscar">
            <form action="/products/search" method="GET" id="search">
                <input type="search" name="keywords" placeholder="Buscar productos..">
                <button class="btnsearch" type="submit"> <i class="fas fa-search"></i></button>
            </form>
        </div>



        <!-- Botones laterales -->
        <div class="headernav">
            <div class="licontainer">
                <ul>

                    <% if (typeof session.user !="undefined" ) { %>
                        <li class="menu-button"><a href="/users/perfil"><img class="imgusuario" src="/img/usuario.png"
                                    alt="">
                                <%= session.user.name %>
                            </a> </i>
                            <ul>
                                <div class="hovercuenta">
                                    <li> <a href="/users/perfil">Mi perfil</a></li>
                                    <li> <a onclick="Logout()" href="/users/logout">Cerrar sesion</a></li>
                                </div>
                            </ul>

                            <script> 
                            sessionStorage.setItem("login", true)
                            function Logout() {
                                sessionStorage.removeItem('login');
                                sessionStorage.removeItem('ok')
                            }
                            </script>


                        </li>
                        <% } else {%>
                            <li class="menu-button"><a href="/users/registro"><img class="imgusuario"
                                        src="/img/usuario.png" alt="">Mi cuenta </a> </i>
                                <ul>
                                    <div class="hovercuenta">
                                        <li> <a href="/users/login">Iniciar sesion</a></li>
                                        <li> <a href="/users/registro">Registrarse</a></li>
                                    </div>
                                </ul>
                            </li>
                            <% } %>

                                <li><a href="/products/carrito"><img class="carritoyfav" src="/img/carrito-de-compras.png"
                                            alt="Carrito de compras"></a></li>

                                <li><a href="/users/perfil"><img class="carritoyfavv" src="/img/favorito.png"
                                            alt="Favoritos"></a></i>
                                </li>
                </ul>

            </div>
        </div>



    </div>

    <div class="headermobile">

        <!-- Hamburguesa -->
        
        <input type="checkbox" id="checkHambur">
        <label for="checkHambur">
        <div class="burguermenu">
            <i class="fas fa-bars"></i>
        </div>
         <!-- <div id="cerrarHambur"> <img class="cerrarEquis" src="/img/equis.png"> </div> -->
        </label>
        
        <nav class="hamburMenuOri">


            
            <div class="menuburguerregister">
                
                <ul>

                    <% if (typeof session.user !="undefined" ) { %>
                        <li class="menu-button"><a href="/users/perfil"><img class="imgusuario" src="/img/usuario.png"
                                    alt="">
                                <%= session.user.name %>
                            </a> </i>
                            <ul>
                                <div class="hovercuenta">
                                    <li> <a href="/users/perfil">Mi perfil</a></li>
                                    <li> <a href="/users/logout">Cerrar sesion</a></li>
                                </div>
                            </ul>

                        </li>
                        <% } else {%>
                            <li class="menu-button"><a href="/users/registro"><img class="imgusuario"
                                        src="/img/usuario.png" alt="">Mi cuenta </a> </i>
                                <ul>
                                    <div class="hovercuenta">
                                        <li> <a href="/users/login">Iniciar sesion</a></li>
                                        <li> <a href="/users/registro">Registrarse</a></li>
                                    </div>
                                </ul>
                            </li>
                            <% } %>

                              
                </ul>
            </div>

            <div class="buscarMobile">
                <form action="/products/search" method="GET" id="search">
                    <input type="search" name="keywords" placeholder="Buscar productos..">
                    <button class="btnsearch" type="submit"> <i class="fas fa-search"></i></button>
                </form>
            </div>
        <ul>
            <li><a href="/products/category/1">Celulares</a></li>
            <li><a href="/products/category/2">TV & Audio</a></li>
            <li><a href="/products/category/3">Electro</a></li>
            <li><a href="/products/category/4">Computación</a></li>
            <li><a href="/products/category/5">Gaming</a></li>
            <li><a href="/products/category/6">Climatización</a></li>
            <li><a href="/products/category/7">Movilidad</a></li>
        </ul>
        </nav>

        <!-- Logo -->
        <div class="logomain">

            <a href="/"><img class="logo" src="/images/electrohogarlogo2resuelto.png" alt=""></a>
        </div>

        <!-- Carrito mobile -->
        <div class="carritoversmobile">
            <a href="/products/carrito"><svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" alt="cart">
                    <g fill="none" fill-rule="evenodd">
                        <g fill="currentcolor">
                            <path
                                d="M9.1 17.84l-1.598-7.39h16.127l-2.452 7.39H9.1zm11.994 6.274c0 .508-.395.922-.883.922-.487 0-.884-.414-.884-.922 0-.51.397-.924.884-.924.488 0 .883.414.883.924zm-11.977.922c-.487 0-.884-.414-.884-.922 0-.51.397-.924.884-.924s.883.414.883.924c0 .508-.396.922-.883.922zm13.362-6.104l2.997-9.034c.084-.251.046-.53-.103-.746-.146-.216-.385-.346-.64-.346H7.147L6.132 4.12c-.08-.375-.399-.64-.767-.64H1.946c-.434 0-.786.367-.786.822 0 .453.352.822.786.822h2.791l3.584 16.573c-.962.347-1.66 1.294-1.66 2.417 0 1.415 1.102 2.566 2.456 2.566 1.355 0 2.456-1.15 2.456-2.566 0-.327-.064-.636-.171-.924h6.524c-.107.288-.171.597-.171.924 0 1.415 1.102 2.566 2.456 2.566 1.355 0 2.456-1.15 2.456-2.566s-1.101-2.568-2.456-2.568c-.044 0-.085.013-.128.015-.022-.002-.042-.015-.064-.015H9.902l-.446-2.062h12.28c.335 0 .634-.222.743-.552z">
                            </path>
                        </g>
                    </g>
                </svg></a>
        </div>

    </div>
<script src="/js/modoOscu.js"></script>
</header>