<nav>
    <ul>
        <li href="#">Categorias</li>
        <li href="#">Smart TV</li>
        <li href="#">Celulares</li>
        <li href="#">Notebooks</li>
        <li href="#">Climatizacion</li>
        <li href="#">Cocinas</li>
        <li href="#">Heladeras</li>
        <li href="#">Lavado</li>
        <li href="#">Colchones</li>
        <li href="#">Gaming</li>

    </ul>
</nav>