<nav>
    <ul>
        <li class="li" href="#">Celulares</li>
        <li  class="li" href="#">TV & Audio</li>
        <li class="li"  href="#">Electro</li>
        <li  class="li" href="#">Computacion</li>
        <li  class="li" href="#">Gaming</li>
        <li  class="li" href="#">Cocinas</li>
        <li  class="li" href="#">Movilidad</li>
    </ul>
</nav>