<nav class="nav">
    <div class="navbarcontainer">


        <ul class="nav_list">

            <li class="nav__listitem"><a href="/products/category/1">Celulares </a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/1/1">Telefonos</a></li>
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/2/1">Smartwatchs</a></li>
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/3/1">Accesorios</a></li>

                </ul>
            </li>

            <li class="nav__listitem"><a href="/products/category/2">TV & Audio</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/4/2">Smart TV</a></li>
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/5/2">Auriculares</a></li>
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/6/2">Barras de sonido</a></li>
                    <li class="lidrop"><a class="a_drop" href="#">Parlantes bluetooth</a></li>
                </ul>
            </li>


            <li class="nav__listitem"> <a href="/products/category/3">Electro</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/7/3">Lavado</a></li>
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/8/3">Heladeras</a></li>
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/9/3">Pequeños electrodomesticos</a>
                    </li>
                    <li class="lidrop"><a class="a_drop" href="#">Iluminacion</a></li>
                </ul>
            </li>

            <li class="nav__listitem"><a href="/products/category/4">Computacion</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/10/4">Notebooks</a></li>
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/11/4">Tablets</a></li>
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/12/4">Impresoras</a></li>
                    <li class="lidrop"><a class="a_drop" href="#">Monitores</a></li>

                </ul>
            </li>



            <li class="nav__listitem"><a href="/products/category/5">Gaming</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/13/5">Consolas</a></li>
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/14/5">Accesorios Gamer</a></li>
                </ul>
            </li>



            <li class="nav__listitem"><a href="/products/category/6">Climatizacion</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/15/6">Aire acondicionado</a></li>
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/18/6">Ventiladores</a></li>
                    <li class="lidrop"><a class="a_drop" href="/products/subcategory/19/6">Caloventores</a></li>

                </ul>
            </li>


        <li class="nav__listitem"><a href="/products/category/7">Movilidad</a>
            <ul class="nav__listitemdrop">
                <li class="lidrop"><a class="a_drop" href="/products/subcategory/16/7">Monopatines</a></li>
                <li class="lidrop"><a class="a_drop" href="/products/subcategory/17/7">Hoverboard</a></li>
            </ul>
        </li>
    </ul>
    <script src="/js/modoOscu.js"></script>
</nav>
