
    <ul class="nav_list">

        <li class="nav__listitem" href="#">Celulares
            <ul class="nav__listitemdrop">
                <li class="lidrop"><a class="a_drop" href="#">Telefonos</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Accesorios</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Smartwatchs</a></li>

            </ul>
        </li>

        <li class="nav__listitem" href="#">TV & Audio
            <ul class="nav__listitemdrop">
                <div class="nav__listitemdropdiv">
                    <li class="lidrop"><a class="a_drop" href="#">Smart TV</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Barras de sonido</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Auriculares</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Parlantes bluetooth</a></li>
                </div>
                
            </ul>
        </li>


        <li class="nav__listitem" href="#">Electro
            <ul class="nav__listitemdrop">
                <li class="lidrop"><a class="a_drop" href="#">Lavado</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Heladeras</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Pequeños electrodomesticos</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Iluminacion</a></li>
            </ul>
        </li>

        <li class="nav__listitem" href="#">Computacion
            <ul class="nav__listitemdrop">
                <li class="lidrop"><a class="a_drop" href="#">Notebooks</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Monitores</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Impresoras</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Tablets</a></li>

            </ul>
        </li>



        <li class="nav__listitem" href="#">Gaming
            <ul class="nav__listitemdrop">
                <li class="lidrop"><a class="a_drop" href="#">Accesorios Gamer</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Consolas</a></li>
            </ul>
        </li>



        <li class="nav__listitem" href="#">Climatizacion
            <ul class="nav__listitemdrop">
                <li class="lidrop"><a class="a_drop" href="#">Aire acondicionado</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Ventiladores</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Caloventores</a></li>

            </ul>
        </li>


        <li class="nav__listitem" href="#">Movilidad
            <ul class="nav__listitemdrop">
                <li class="lidrop"><a class="a_drop" href="#">Monopatines</a></li>
                <li class="lidrop"><a class="a_drop" href="#">Hoverboard</a></li>
            </ul>
        </li>
    </ul>
</nav>
