<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs', {title: ' Admin | ElectroHogar'}) %>

<body>
    <%- include ('../partials/adminheader.ejs') %>

    <main>

        <div class="containeradminindex">
            <h3 style="padding: 50px;" >Bienvenido administrador</h3>
        </div>
 

    </main>


    <%- include ('../partials/footer.ejs') %>
    <%- include ('../partials/scripts.ejs') %>

</body>

</html>